<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/css/usercenter/usercenter.css'" >
<link rel="stylesheet" th:href="${basePath}+'/assets/css/public/detail.css'" >
<link rel="stylesheet" th:href="${basePath}+'/assets/js/picker/css/mui.picker.css'">
<script th:src="${basePath}+'/assets/js/picker/js/mui.picker.min.js'" type="text/javascript"></script>
<div th:include="guangdong/public/leftBar :: copy"></div>
<div id="page">
    <div class="mui-content">
        <div class="list">
            <ul class="mui-table-view">
                <div class="portrait">
                    <div class="pic">
                        <img class="lazy" id="userpic" th:src="${session.sessUserKey.headimgurl} ? ${session.sessUserKey.headimgurl} : ${basePath}+'/assets/img/public/face2.png'">                        <div class="tag">
                            <img class="lazy camera" th:src="${basePath}+'/assets/img/usercenter/camera_c@2x.png'">
                        </div>
                    </div>
                </div>
                <li class="mui-table-view-cell padding15px" id="nickName">
                    <div class="mui-pull-left">昵称</div>
                    <div class="mui-pull-right"></div>
                </li>
                <li class="mui-table-view-cell padding15px" id="sex">
                    <div class="mui-pull-left">性别</div>
                    <div class="mui-pull-right"></div>
                </li>
                <li class="mui-table-view-cell padding15px" id="job">
                    <div class="mui-pull-left">职业</div>
                    <div class="mui-pull-right"></div>
                </li>
                <li class="mui-table-view-cell padding15px" id="mobile">
                    <div class="mui-pull-left">手机号码</div>
                    <div class="mui-pull-right"></div>
                </li>
            </ul>
        </div>
        <div id="picture" class="mui-popover mui-popover-action mui-popover-bottom">
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#" data-type="album">从相册选择</a>
                    <input style="display: none" id="paizhao" type="file" accept="image/*" capture="camera">
                </li>
                <li class="mui-table-view-cell">
                    <a href="#" data-type="camera">拍摄</a>
                    <input style="display: none" id="xiangce" type="file" accept="image/*" capture="accept">
                </li>
            </ul>
            <ul class="mui-table-view">
                <li class="mui-table-view-cell">
                    <a href="#picture"><b>取消</b></a>
                </li>
            </ul>
        </div>
        <nav class="mui-bar mui-bar-tab">
            <div class="mui-tab-item"><a class="goNext" href="javascript:void(0)">保存</a></div>
        </nav>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var userid = $("#temp_userId").val(),sex,authIDPic,authIDMedia;
    $().ready(function(){
        dataInit.ajax({
            api:[[${apiPath.userInfo}]],
            params:{
                userId:userid
            },
            fn:function(data){
                if(data.code == 0){
                    $("#nickName .mui-pull-right").text(data.data.nickName);
                    $("#sex .mui-pull-right").text(data.data.sex==1?'男':'女');
                    $("#job .mui-pull-right").text(data.data.job);
                    $("#mobile .mui-pull-right").text(data.data.mobile);
                    sex = data.data.sex;

                    if (data.data.authState !=1 && data.data.authState != 3){
                        mui(".mui-table-view").on('tap',"#sex",function () {
                            var picker = new mui.PopPicker();
                            picker.setData([{value: '1', text: '男'}, {value: '0', text: '女'}]);
                            picker.show(function (selectItems) {
                                sex = selectItems[0].value;
                                $('#sex .mui-pull-right').text(selectItems[0].text);
                            });
                        })
                    }
                }else{
                    mui.toast(data.msg || '服务器异常');
                }
            }
        });
        mui(".mui-table-view").on('tap',"#nickName",function (e) {
            e.detail.gesture.preventDefault(); //修复iOS 8.x平台存在的bug，使用plus.nativeUI.prompt会造成输入法闪一下又没了
            var btnArray = ['取消', '确定'];
            mui.prompt('请输入昵称：', $("#nickName .mui-pull-right").text(), '修改昵称', btnArray, function(e) {
                if (e.index == 1) {
                    if($.trim(e.value)){
                        $("#nickName .mui-pull-right").text($.trim(e.value));
                    }else {
                        mui.toast('请输入昵称');
                    }
                } else {

                }
            })
        });
        /*mui(".mui-table-view").on('tap',"#sex",function () {
            var picker = new mui.PopPicker();
            picker.setData([{value: '1', text: '男'}, {value: '0', text: '女'}]);
            picker.show(function (selectItems) {
                sex = selectItems[0].value;
                $('#sex .mui-pull-right').text(selectItems[0].text);
            });
        })*/
        mui(".mui-table-view").on('tap',"#job",function () {
            var picker = new mui.PopPicker();
            picker.setData([{value: '其它', text: '其它'},
                {value: '政府机关', text: '政府机关'},
                {value: '互联网', text: '互联网'},
                {value: '电子商务', text: '电子商务'},
                {value: '信息传媒', text: '信息传媒'},
                {value: '通信', text: '通信'},
                {value: '金融', text: '金融'},
                {value: '学生', text: '学生'},
                {value: '其它', text: '其它'}
            ]);
            picker.show(function (selectItems) {
                $('#job .mui-pull-right').text(selectItems[0].text);
            });
        });
        mui(".mui-table-view").on('tap',"#mobile",function (e) {
            window.location.href = 'myusersecurityphone';
        });
        mui("body").on('tap',".goNext",function (e) {
            dataInit.ajax({
                api: [[${apiPath.hasNickName}]],
                params: {
                    id: userid,
                    nickName: $("#nickName .mui-pull-right").text()
                },
                fn: function (data) {
                    if (data.code == 0) {
                        dataInit.ajax({
                            api: [[${apiPath.userEdit}]],
                            params: {
                                'id':userid,
                                'phone':$("#mobile .mui-pull-right").text(),
                                'nickname':$("#nickName .mui-pull-right").text(),
                                'sex':sex,
                                'job':$("#job .mui-pull-right").text()
                            },
                            fn: function (data) {
                                if (data.code == 0) {
                                    mui.toast("修改成功");
                                    setTimeout(function () {
                                        var tourl = '/usercenter/index';
                                        window.location.href = [[${basePath}]] + '/doLogin?userId='+userid+'&to='+tourl;
                                    },2000)
                                } else {
                                    mui.toast(data.msg || '修改失败');
                                }
                            }
                        })
                    } else {
                        mui.toast(data.msg || '昵称重复');
                    }
                }
            })
        });
        mui('.pic').on('tap', '#userpic', function () {
            if(dataInit.isWeixin()){
                wx.chooseImage({
                    count: 1,
                    sizeType: ['compressed'],
                    sourceType: ['album', 'camera'],
                    success: function (res) {
                        authIDPic = res.localIds[0];
                        $('#userpic').attr('src', res.localIds[0]);
                        wx.uploadImage({
                            localId: authIDPic.toString(),
                            success: function (res) {
                                authIDMedia = res.serverId;
                                getResource(authIDMedia);
                            },
                            fail: function (res) {
                                mui.toast(JSON.stringify(res));
                            }
                        });
                    }
                });
            }else {
                mui.toast('请在微信中使用')
            }
        });
    })

    function getResource(files){
        var params = {
            fileCount:1,
            imageName1:files
        }
        dataInit.ajax({
            api:[[${apiPath.getResource}]],
            params:params,
            fn:function(data){
                updateAuth(data.data);
            }
        })
    }


    function updateAuth(data) {
        var urlFront = data[0].url;
        var params = {
            userId:userid,
            headUrl:urlFront
        };
        dataInit.ajax({
            api:[[${apiPath.updateUserHeadImg}]],
            params:params,
            fn:function(data){
                if(data.code == 0){
                    mui.toast('头像修改成功');
                }else{
                    mui.toast(data.msg || '服务器异常');
                }
            }
        });
    }
</script>
</body>
</html>