<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.creatoo.hn.dao.mapper.WhgShowGoodsMapper">


    <select id="selInsShowGoodsList" resultType="hashmap">
        SELECT
        sg.*,
        cult.name as cultidname
        FROM
            whg_show_goods sg,whg_sys_cult cult
        WHERE
            sg.state = 6   AND cult.id= sg.cultid

        <if test="cultid != null ">
            AND sg.cultid IN
            <foreach item="item" index="index" collection="cultid" open="(" separator="," close=")">
                #{item}
            </foreach>
            <if test="type != null  and type!=''.toString()">
                AND sg.type = #{type}
            </if>
        </if>
        <if test="cultid == null ">

            <if test="type != null  and type!=''.toString()">
                AND sg.type LIKE "%"#{type}"%"
            </if>
        </if>
        <if test="deptid != null ">
            AND sg.deptid IN
            <foreach item="item" index="index" collection="deptid" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>

        <if test="title != null  and title!=''.toString()">
            AND sg.title LIKE "%"#{title}"%"
        </if>
        <if test="province != null and province!=''.toString()">
            AND sg.province = #{province}
        </if>
        <if test="city != null and city!=''.toString()">
            AND sg.city = #{city}
        </if>
        <if test="area != null and area!=''.toString()">
            AND sg.area = #{area}
        </if>
        <if test="psprovince!=null and psprovince!=''.toString()">
            and sg.psprovince = #{psprovince}
        </if>
        <if test="pscity!=null and pscity!=''.toString()">
            and sg.pscity LIKE "%"#{pscity}"%"
        </if>
        ORDER BY
        statemdfdate DESC
    </select>


    <select id="selectShowGoodsById" resultType="hashmap">
        SELECT
        sg.*,
        cult.name as cultname,
        wt.name as typename
        FROM
        whg_show_goods sg,whg_sys_cult cult,whg_ywi_type wt
        WHERE
        sg.state = 6 AND cult.id = sg.cultid AND sg.type = wt.id
        AND sg.id = #{id}
    </select>


    <select id="selectShowRecommend" resultType="hashmap">
        select se.*
        from whg_show_goods se
        where se.state = 6
        <if test="cultid!=null ">
            AND se.cultid IN
            <foreach item="item" index="index" collection="cultid" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="id!=null and id!=''.toString">
            and se.id != #{id}
        </if>
        order by se.statemdfdate DESC
    </select>

</mapper>