<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/css/venue/readme.css'">
<div th:include="guangdong/public/leftBar :: copy"></div>
<div id="page">
    <div class="mui-content readme">
        <h1>活动预订须知</h1>
        <p>1、订票成功后，活动开始当日请提前入场，避免拥堵；<br>

            2、如需退票，请在活动开始前办理相关手续；<br>

            3、每场活动票数有限，退票后再次预订可能遇到票已售完，无法订票的情况，由用户自行负责；<br>

            4、如累计超过2次订票却没有到场参加活动者，将取消本年度购票资格；<br>

            5、如遇非人为可控因素或重大天气等影响，导致活动无法举办，举办方有权利延后或取消活动，并以短信和站内信形式告知订票人办理相关手续；<br>

            6、活动最终解释权归举办方。</p>
        <p class="btn" onclick="window.history.back(-1)"><a href="javascript:window.history.back(-1)">返 回</a></p>
    </div>
</div>
</body>
</html>