<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<div id="page">
    <div class="mui-content">
        <div id="abc" style=" overflow-y: scroll; margin:0px auto; padding-top:30px;">
            <h1 style="text-align: center">全民艺术普及——艺术培训班安全协议书
            </h1>
            <div>
                通过甲方的安全教育和提示，乙方完全知悉在全民艺术普及——2017年秋季公益性（免费）艺术培训班（学制为一年，分春、秋季两期，每期16周）期间的安全义务并自觉履行，完全同意遵守甲方的相关管理制度和课堂纪律要求，自愿参加甲方举办的课程。经过甲乙双方协商一致，特签订本安全协议书，双方共同遵守：
                <br><br><b>一、甲方的义务</b>
                <br><br>1、甲方为乙方培训提供免费培训场所，并提供符合法律规定的的安全场所和设施。
                <br>2、在甲方培训场所发生突发事件时，甲方根据法律法规和有关部门的要求予以处置。
                <br><br><b>二、乙方知悉并同意在培训期间的履行下列安全义务：</b>
                <br><br>1、乙方应服从甲方的管理制度、课堂纪律，自行承担安全责任；
                <br>2、乙方往返培训场地的交通安全自行负责；
                <br>3、乙方因过错造成自身损害或侵害他人权益，应自行承担责任；
                <br>4、乙方应了解自身身体状况，对在培训期间自身出现的突发疾病等状况自行承担责任；
                <br>5、乙方知悉甲方已为乙方提供了安全提示和合理的安全义务措施；
                <br>6、乙方若属于未成年学员，不得自行到达或离开培训场所，其监护人或得到监护人授权的亲属应负责接送。其监护人或得到监护人授权的亲属应切实履行对乙方的监护职责和安全防范义务，培训期间不得离开培训现场，否则承担损害后果和相关责任；
                <br>7、老年艺术大学的学员及其家属需充分注意自身身体状况，选择适合身体条件的培训项目及课程；
                <br>8、乙方在培训中使用的学习资料、各类器乐用具和物品、材料，应自行选择和购买，注意使用安全。
                <br>9、乙方应根据自身需要自行选择和购买人身意外伤害保险产品。
                <br><br><b>三、违约责任</b>
                <br><br>1、乙方在培训期间造成其他学员或第三人损害的，或造成甲方场馆设施损害的，应承担法律责任。
                <br>2、乙方在培训期间违反管理制度和课堂纪律的，甲方有权采取措施终止其学习资格，并追究乙方相应法律责任。
                <br><br><b>四、不可抗力</b>
                <br><br>因台风、龙卷风、暴雨、洪水、地震等不可抗力引发的损害后果，甲方依法不承担法律责任。
                <br><br><b>五、争议解决</b>
                <br><br>1. 本合同在履行过程中若发生争议，双方通过友好协商解决；
                <br>2. 双方协商不能解决的，提交甲方所在地人民法院解决；
                <br>3. 该培训活动最终解释权归于甲方。
                <br><br><b>本协议一式两份，甲方和乙方（或乙方监护人）各留一份，双方签字后生效，协议有效期为一年。</b>
            </div>
        </div>
    </div>
</div>
</body>
</html>