@charset "UTF-8";
/* ==CONFIG:=========================================================
  $__version:       1.0.0
  $__author:        JackyZeng
  $__help:          zrongs@vip.qq.com
  $__website:       http://hn.creatoo.cn
  -------------------------------------------------------------------*/
@import "../../fonts/iconfont.css";
.li-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.none {
  display: none;
}
.no-padding-0 {
  padding: 0!important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 10;
}
.readme {
  padding: 10px;
}
.readme h1 {
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.readme p {
  color: #333333;
  line-height: 200%;
  margin-bottom: 15px;
}
.readme p span {
  margin-right: 5px;
  font-weight: 700;
}
.readme p.btn {
  margin-top: 30px;
  text-align: center;
}
.readme p.btn a {
  display: inline-block;
  zoom: 1;
  vertical-align: baseline;
  outline: none;
  overflow: visible;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-family: Microsoft YaHei, Arial, Helvetica, sans-serif;
  line-height: 100%;
  padding: 0.5em 2em 0.55em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px solid #e6162d;
  color: #fff;
  background-color: #e6162d;
}
.readme p.btn a:hover {
  background-color: #e91d3a;
}
