<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/css/venue/readme.css'">
<div th:include="guangdong/public/leftBar :: copy"></div>
<div id="page">
    <div class="mui-content readme">
        <h1>场馆预订规则</h1>
        <p>1、预定订单提交审核之后，请及时与场地管理人员联系；<br>

            2、预订成功后，开始当日请提前入场，避免拥堵；<br>

            3、如遇非人为可控因素或重大天气等影响，导致预订无法进行，举办方有权利延后或取消预订，并以短信和站内信形式告知预订人办理相关手续；<br>

            4、最终解释权归举办方。</p>
        <p class="btn" onclick="window.history.back(-1)"><a href="javascript:window.history.back(-1)">返 回</a></p>
    </div>
</div>
</body>
</html>