<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link th:href="${basePath}+'/assets/style/activity/baoming.css'" rel="stylesheet">
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/rong.validate.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/rong.message.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/jquery-form.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugins/laydate/laydate.js'"></script>
<style>
    .crumbs li{
        width: 306px;
    }
</style>
<div class="wrapper clearfix">
    <div class="content">
        <!--公共主头部开始-->
        <div id="header" th:include="guangdong/public/header :: copy"></div>
        <!--公共主头部结束-->
        <div id="act_baoming_step1" class="main-info-bg bg-color">
            <ul class="crumbs crumbs-1 clearfix">
                <li class="step-1">1. 填写众筹订单资料<em class="arrow"></em></li>
                <li class="step-2">2. 等待众筹结束<em class="arrow"></em></li>
                <li class="step-3 last">3. 参加活动（如众筹成功）<em class="arrow"></em></li>
            </ul>
            <div class="container-wrapper">
                <div class="order-content clearfix">
                    <form method="post" id="inputForm" enctype="multipart/form-data">
                        <div class="form-cont">
                            <h3>
                                <em>1</em>众筹名称
                            </h3>
                            <div class="row">
                                <div class="input-bg">
                                    <input class="input-panel" name="zc_name" placeholder="请输入众筹名称" readonly required>
                                </div>
                            </div>
                            <h3>
                                <em>2</em>姓名
                            </h3>
                            <div class="row lookinput">
                                <div class="input-bg">
                                    <input class="input-panel" name="name" placeholder="请输入您的姓名" maxlength="11" required>
                                </div>
                            </div>
                            <h3>
                                <em>3</em>证件号
                            </h3>
                            <div class="row lookinput">
                                <div class="check-box-bg">
                                    <label><input type="radio" name="idcardtype" value="1">中国大陆</label>
                                    <label><input type="radio" name="idcardtype" value="2">港澳台</label>
                                </div>
                            </div>
                            <div class="row lookinput">
                                <div class="input-bg">
                                    <input class="input-panel" name="caednumber" placeholder="请输入您的身份证号码" maxlength="18" required>
                                </div>
                            </div>
                            <h3>
                                <em>4</em>出生年月
                            </h3>
                            <div class="row lookinput">
                                <div class="input-bg">
                                    <input class="input-panel" id="age" name="birthday" placeholder="请输入您的出生年月" required readonly>
                                </div>
                                <!--<script type="text/javascript">
                                    laydate.render({
                                        elem: '#age',
                                        range: false,
                                        done: function(value, date, endDate){
                                            if (date && date.year && date.month && date.date
                                                && endDate && endDate.year && endDate.month && endDate.date){
                                                $("#beginDay").val(date.year+'-'+date.month+'-'+date.date);
                                                $("#endDay").val(endDate.year+'-'+endDate.month+'-'+endDate.date);
                                            }else{
                                                $("#beginDay").val('');
                                                $("#endDay").val('');
                                            }
//                                            dataPage();
                                        }
                                    });
                                </script>-->
                            </div>

                            <h3>
                                <em>5</em>手机号码
                            </h3>
                            <div class="row lookinput">
                                <div class="input-bg">
                                    <input class="input-panel" name="phone" placeholder="请输入您的手机号码" maxlength="11" required>
                                </div>
                            </div>

                            <div class="row target-ctrl-5">
                                <div class="input-bg" style="padding-top: 18px; border: hidden; line-height: 52px">
                                    <input type="checkbox" name="readme" required >
                                    <a onclick="return alertXY();" style="cursor: pointer">已认真阅读《全民艺术普及安全协议》</a>
                                </div>
                            </div>

                            <div class="row target-ctrl-0">
                                <div class="input-bg" style="padding-top: 18px; border: hidden; line-height: 52px">
                                    <input type="checkbox" name="readmeOther" required >
                                    <a onclick="return alertXYother();" style="cursor: pointer">我已阅读并接受众筹须知相关条款</a>
                                </div>
                            </div>

                            <div class="row">
                                <input class="none" id="next-btn" type="submit">
                                <a class="next-btn" href="javascript:void(0)">确定</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div id="act_baoming_step2" class="main-info-bg bg-color" style="display: none">
            <ul class="crumbs crumbs-2 clearfix">
                <li class="step-1">1. 填写众筹订单资料<em class="arrow"></em></li>
                <li class="step-2">2. 等待众筹结束<em class="arrow"></em></li>
                <li class="step-3 last">3. 参加活动（如众筹成功）<em class="arrow"></em></li>
            </ul>
            <div class="container-wrapper">
                <div class="order-msg">
                    <span class="msg-title">确认订单信息</span>
                    <a href="#" class="return" onclick="returnBack()">返回上一级修改信息</a>
                </div>
                <div class="order-content clearfix">
                    <div class="order-img">
                        <img class="actImgPath" th:src="${basePath}+'/assets/img/public/loading.png'" width="249" height="170">
                    </div>
                    <div class="order-detail">
                        <h1 class="title"></h1>
                        <!--<p><i class="iconfont icon-time"></i>时间：<span id="orderTime"></span></p>-->
                        <p><i class="iconfont icon-location"></i>地址：<span id="address"></span></p>
                        <p><i class="iconfont icon-businesscard"></i>证件号码：<span id="idcard"></span></p>
                        <p><i class="iconfont icon-activity"></i>出生年月：<span id="birthday"></span></p>
                        <p><i class="iconfont icon-dianhua"></i>预订电话：<span id="telPhone"></span></p>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" onclick="submitOrder()" class="submit" id="submitOrder">确认订单</a>
        </div>
        <div id="act_baoming_step3" class="main-info-bg bg-color" style="display: none">
            <ul class="crumbs crumbs-3 clearfix">
                <li class="step-1">1. 填写众筹订单资料<em class="arrow"></em></li>
                <li class="step-2">2. 等待众筹结束<em class="arrow"></em></li>
                <li class="step-3 last">3. 参加活动（如众筹成功）<em class="arrow"></em></li>
            </ul>
            <div class="container-wrapper">
                <div class="order-msg">
                    <span class="msg-title">完成报名</span>
                    <a th:href="${basePath}+'/_cultsite_/center/myApplyList'" class="return">查看订单</a>
                </div>
                <div class="order-content clearfix">
                    <div class="complete-order">
                        <img th:src="${basePath}+'/assets/img/zcproject/complete-order.png'" width="61" height="61">
                    </div>
                    <div class="compltet-order-msg">
                        <p>恭喜您，<em class="title"></em></p>
                        <span>报名申请已提交，请关注订单状态！</span>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)" class="submit" id="returnDetail">返回活动详情</a>
        </div>
    </div>
</div>
<!--底部开始-->
<div class="footer-container" id="footer" th:include="guangdong/public/footer :: copy"></div>
<!--底部结束-->
<a class="to-top"></a>


<div id="abc" style="display:none; overflow-y: scroll; height: 500px; margin:0px auto; padding-top:30px;">
    <h1 style="text-align: center">全民艺术普及——艺术培训班安全协议书
    </h1>
    <div>
        通过甲方的安全教育和提示，乙方完全知悉在全民艺术普及——2017年秋季公益性（免费）艺术培训班（学制为一年，分春、秋季两期，每期16周）期间的安全义务并自觉履行，完全同意遵守甲方的相关管理制度和课堂纪律要求，自愿参加甲方举办的课程。经过甲乙双方协商一致，特签订本安全协议书，双方共同遵守：
        <br><br><b>一、甲方的义务</b>
        <br><br>1、甲方为乙方培训提供免费培训场所，并提供符合法律规定的的安全场所和设施。
        <br>2、在甲方培训场所发生突发事件时，甲方根据法律法规和有关部门的要求予以处置。
        <br><br><b>二、乙方知悉并同意在培训期间的履行下列安全义务：</b>
        <br><br>1、乙方应服从甲方的管理制度、课堂纪律，自行承担安全责任；
        <br>2、乙方往返培训场地的交通安全自行负责；
        <br>3、乙方因过错造成自身损害或侵害他人权益，应自行承担责任；
        <br>4、乙方应了解自身身体状况，对在培训期间自身出现的突发疾病等状况自行承担责任；
        <br>5、乙方知悉甲方已为乙方提供了安全提示和合理的安全义务措施；
        <br>6、乙方若属于未成年学员，不得自行到达或离开培训场所，其监护人或得到监护人授权的亲属应负责接送。其监护人或得到监护人授权的亲属应切实履行对乙方的监护职责和安全防范义务，培训期间不得离开培训现场，否则承担损害后果和相关责任；
        <br>7、老年艺术大学的学员及其家属需充分注意自身身体状况，选择适合身体条件的培训项目及课程；
        <br>8、乙方在培训中使用的学习资料、各类器乐用具和物品、材料，应自行选择和购买，注意使用安全。
        <br>9、乙方应根据自身需要自行选择和购买人身意外伤害保险产品。
        <br><br><b>三、违约责任</b>
        <br><br>1、乙方在培训期间造成其他学员或第三人损害的，或造成甲方场馆设施损害的，应承担法律责任。
        <br>2、乙方在培训期间违反管理制度和课堂纪律的，甲方有权采取措施终止其学习资格，并追究乙方相应法律责任。
        <br><br><b>四、不可抗力</b>
        <br><br>因台风、龙卷风、暴雨、洪水、地震等不可抗力引发的损害后果，甲方依法不承担法律责任。
        <br><br><b>五、争议解决</b>
        <br><br>1. 本合同在履行过程中若发生争议，双方通过友好协商解决；
        <br>2. 双方协商不能解决的，提交甲方所在地人民法院解决；
        <br>3. 该培训活动最终解释权归于甲方。
        <br><br><b>本协议一式两份，甲方和乙方（或乙方监护人）各留一份，双方签字后生效，协议有效期为一年。</b>
    </div>
</div>

<div id="abcOther" style="display:none; overflow-y: scroll; height: 300px; margin:0px auto; padding-top:30px;">
    <h1 style="text-align: center">众筹须知
    </h1>
    <div>
        <br><br>1、 众筹不是商品交易。支持者根据自己的需求选择、支持众筹项目，并获得发起人承诺的回报。
        <br>2、因众筹人数不足、市场风险、法律风险等各种因素，众筹可能失败。众筹失败时，发起人将不会提供相应的文化服务。
        <br>3、由于紧急事件、突发气候变化等不可预测因素造成众筹活动无法开展，发起人有权终止众筹活动，且不承担任何法律和经济责任。
        <br>4、请支持者密切关注众筹进度，如众筹活动一旦成功，众筹发起人将依据相关说明开展众筹活动。
    </div>
</div>

<script type="text/javascript" th:inline="javascript">
    var itemId = dataInit.getUrlParam('id');
    var gatherid = dataInit.getUrlParam('gatherid');
    var etype = dataInit.getUrlParam('etype');
    var zcTitle = dataInit.getUrlParam('zcTitle');
    zcTitle = decodeURI(decodeURI(zcTitle));
    $("input[name = zc_name]").val(zcTitle);
    var userid = $("#temp_userId").val();
    var nickName = $("#temp_nickName").val();
    var ___userPhone = $("#temp_mobile").val();
    //用户年龄段
    var ageSize = '';
    //手机号码规则
    var Phones = /^1[34578][0-9]\d{8}$/;
    var flag = true;
    //判断报名接口，etype==5为培训，etype==0为其他
    var zcApiUrl = '',zcId= '';
    if(etype == 0){
        zcApiUrl = [[${apiPath.gatherApply}]];
        zcId = itemId;
    }else {
        zcApiUrl = [[${apiPath.trainZcApply}]];
        zcId = gatherid;
    }
    //手机号格式
    $.validator.addMethod("phone", function (value) {
        var reg = /^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/;
        return reg.test(value);
    }, '请输入正确的手机号码');

    //身份证格式
    /*$.validator.addMethod("caednumber", function (value) {
        var reg = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X|x)$/;
        return reg.test(value);
    }, '请输入正确的身份证号码');*/
    $.validator.addMethod("caednumber", function (value, element, params) {
        var idcardtype = '1';
        if (params && params.length){
            var refel = params[0];
            var idcardtype = $(refel).val();
        }

        if (idcardtype == '2'){
            /*var taiwanreg=/^[A-Z][0-9]{9}$/;
            var xianggangreg=/^[A-Z][0-9]{6}\([0-9A]\)$/;
            var aomenreg=/^[157][0-9]{6}\([0-9]\)$/;

            return taiwanreg.test(value) || xianggangreg.test(value) || aomenreg.test(value);*/
            return value && $.trim(value)!='';
        }else{
            var reg = /^[1-9]\d{5}[1-9]\d{3}((0\d)|(1[0-2]))(([0|1|2]\d)|3[0-1])\d{3}([0-9]|X|x)$/;
            return reg.test(value);
        }
    }, '请输入正确的身份证号码');
    //出生日期
    $.validator.addMethod("birthday", function (value, element, params) {
        /*var idcardtype = '1';
        if (params && params.length){
            var refel = params[0];
            var idcardtype = $(refel).val();
        }*/

        //if (idcardtype == '2'){
            return /^\d{4}-\d{2}-\d{2}$/.test(value);
        /*}else{
            return true;
        }*/
    }, '请输入正确的出生日期,如2000-01-01');

    var isrealname = 0;
    var isbasicclass = 2;
    function selectIdcardtype(){
        $('[name=idcardtype]').off().on('change', function(){
            var idcardtype = $('[name=idcardtype]:checked').val();
            if (idcardtype && idcardtype=='2' && !isrealname){
                $("input[name='birthday']").removeAttr("readonly");
            }else{
                $("input[name='birthday']").attr("readonly", 'readonly');
            }
        })
    }

    var cultsite = $.cookie("cultsite");
    $(document).ready(function () {
        $(".wrapper a").each(function(){
            var ahref = $(this).attr("href");
            if (!ahref) return true;
            if (ahref.indexOf("_cultsite_")==-1) return true;
            ahref = ahref.replace("_cultsite_", cultsite);
            $(this).attr("href", ahref);
        });

        selectIdcardtype();
        dataInit.ajax({
            api: [[${apiPath.zcProjectDetail}]],
            fn: showOrderDetail,
            params: {id: zcId}
        });

        $('.next-btn').on('click', function () {
            $("#next-btn").click();
        });
    })

    function showOrderDetail(data) {
        var seatModel = data.data;
        var phone = seatModel.phone;
        var title = seatModel.title;
        var imgPath = [[${imgPath}]] + dataInit.getBigImage(seatModel.imgurl);
        //用户时间
        //var time = moment(seatModel.timestart).format("YYYY-MM-DD HH:mm:ss") + ' ~ ' + moment(seatModel.timeend).format("YYYY-MM-DD HH:mm:ss");
        //图片地址
        $(".actImgPath").attr('src',imgPath);
        var _href_detail = '';

        $(".target-ctrl-5").hide();
        $(".target-ctrl-0").hide();
        if(data.data.etype == 4){
            _href_detail = '/project/actdetail?id='+data.data.id;
        }else if(data.data.etype == 5) {
            _href_detail = '/project/traindetail?id='+data.data.id;
            $(".target-ctrl-5").show();
            if (data.data.refinfo && data.data.refinfo.isrealname ==1){
                isrealname = 1;
            }
            isbasicclass = data.data.refinfo.isbasicclass;
        }else if(data.data.etype == 0){
            _href_detail = '/project/otherdetail?id='+data.data.id;
            $(".target-ctrl-0").show();
        }else {
            _href_detail = '/project/otherdetail?id='+data.data.id;
            $(".target-ctrl-0").show();
        }

        $("#returnDetail").attr("href",[[${basePath}]]+'/'+cultsite+_href_detail);
        //$('#orderTime').text(time);
        $('.title').text(title);
        if (seatModel.refinfo){
            $("#address").text(seatModel.refinfo.address);
        }else{
            $("#address").parent().hide();
        }
        if(seatModel.refinfo && seatModel.refinfo.age){
            ageSize = seatModel.refinfo.age;
        }
        dataInit.ajax({
            api: [[${apiPath.userInfo}]],
            fn: showUserDetail,
            params: {userId: userid}
        });

        function showUserDetail(data) {
            if(data.code == 0) {
                if(data.data.userName == ___userPhone){
                    if(Phones.test(nickName)){
                        nickName = nickName.substr(0,3)+"****"+nickName.substr(7);
                        $("input[name='name']").val(nickName);
                    }else {
                        $("input[name='name']").val(nickName);
                    }
                }else {
                    var userName = data.data.userName ? data.data.userName : nickName;
                    $("input[name='name']").val(userName);
                }

                if (data.data.idcardtype && data.data.idcardtype == 2){
                    $("input[name='idcardtype']").eq(1).attr("checked","checked");
                    if (data.data.idCard){
                        $("input[name='caednumber']").val(data.data.idCard);
                    }
                    if (data.data.birthday){
                        $("input[name='birthday']").val(moment(data.data.birthday).format('YYYY-MM-DD'));
                    }
                    $("input[name='birthday']").removeAttr("readonly");
                }else{
                    $("input[name='idcardtype']").eq(0).attr("checked","checked");
                    if (data.data.idCard){
                        $("input[name='caednumber']").val(data.data.idCard);
                        var age = birthdayInit(data.data.idCard);
                        $("input[name='birthday']").val(age);
                    }
                    $("input[name='birthday']").attr("readonly","readonly");
                }

                if (isrealname){
                    $("input[name='idcardtype']:not(:checked)").attr('disabled', 'disabled');
                    $("input[name='birthday']").attr('readonly', 'readonly');
                    $("input[name='caednumber']").attr('readonly', 'readonly');
                }

                /*if(data.data.idCard){
                    $("input[name='caednumber']").val(data.data.idCard);
                    var age = birthdayInit(data.data.idCard);
                    $("input[name='birthday']").val(age);
                }*/
                if(___userPhone || data.data.mobile){
                    $("input[name='phone']").val(___userPhone || data.data.mobile);
                }

                lookInput4Value();

            }else {
                $("#ordername").val(nickName);
                rongDialog.init({ico : 2, type : 1, desc : data.msg || '获取数据失败！'});
            }
        }
    }

    function lookInput4Value(){
        $("#inputForm").find(".lookinput input[name]").each(function(){
            var name = $(this).attr("name");
            var value = $(this).val();
            if (!name || !value || value == ''){
                return true;
            }
            if (name == 'idcardtype'){
                return true;
            }

            $(this).attr('readonly', 'readonly');
            if (name == 'caednumber'){
                $("#inputForm input[name='idcardtype']:not(:checked)").attr('disabled', 'disabled');
            }
        });
    }

    $("input[name='caednumber']").change(function () {
        var idcardtype = $('[name=idcardtype]:checked').val();
        if (idcardtype && idcardtype == 2){
            return;
        }

        if($("input[name='caednumber']").val()){
            var age = birthdayInit($("input[name='caednumber']").val());
            $("input[name='birthday']").val(age);
        }
    })
    $("#inputForm").validate({
        errorElement: "em",
        debug: true,
        rules: {
            phone: "phone",
            //caednumber:"caednumber"
            caednumber: {caednumber:['[name=idcardtype]:checked']},
            birthday:{birthday:['[name=idcardtype]:checked']}
        },
        messages: {
            phone: {
                required: "请输入您的手机号码"
            },
            zc_name: {
                required: "请输入众筹名称"
            },
            name: {
                required: "请输入您的姓名"
            },
            caednumber: {
                required: "请输入您的身份证号码"
            },
            birthday: {
                required: "请输入您的出生年月"
            },
            readme:{
                required:"请同意《全民艺术普及安全协议》"
            },
            readmeOther:{
                required:"请接受众筹须知相关条款"
            }
        },
        submitHandler: function () {
            $('#telPhone').text($("input[name='phone']").val());
            $('#idcard').text($("input[name='caednumber']").val());
            $('#birthday').text($("input[name='birthday']").val());
            if(etype == 5){
                if(ageSize){
                    var ageArray = ageSize.split(',');
                    var age = jsGetAge($("input[name='birthday']").val());
                    if(Number(ageArray[0])<Number(age) && Number(age)<Number(ageArray[1])){
                        $("#act_baoming_step1").hide();
                        $("#act_baoming_step2").show();
                        $("#act_baoming_step3").hide();
                    }else {
                        rongDialog.init({ico : 2, type : 1, desc : '年龄不合适，请重新输入'});
                    }
                }else {
                    $("#act_baoming_step1").hide();
                    $("#act_baoming_step2").show();
                    $("#act_baoming_step3").hide();
                }
            }else if(etype == 0) {
                dataInit.ajax({
                    api: [[${apiPath.gatherApplyChecking}]],
                    fn: goNext,
                    params: {id: itemId,userid:userid,etype:etype}
                });
                function goNext(data) {
                    if(data.code == 0){
                        $("#act_baoming_step1").hide();
                        $("#act_baoming_step2").show();
                        $("#act_baoming_step3").hide();
                    }else {
                        rongDialog.init({ico : 2, type : 1, desc : data.msg});
                    }
                }
            }
        }
    })
    
    function returnBack() {
        $("#act_baoming_step3").hide();
        $("#act_baoming_step2").hide();
        $("#act_baoming_step1").show();
    }
    
    function submitOrder () {
        if(flag){
            flag = false;
            var params = {};
            var temp_list = $("#inputForm [name]").serializeArray();
            for (var i in temp_list) {
                params[temp_list[i].name] = temp_list[i].value;
            }
            params.gatherid = itemId;
            params.itemId = itemId;
            params.userId = userid;
            params.userid = userid;
            params.crettype = params['idcardtype'];
            params.caedtype = params['idcardtype'];
            dataInit.ajax({
                api: zcApiUrl,
                fn: function (data) {
                    if(data.code == 0){
                        var succDesc = "报名成功";
                        if (isbasicclass != 2){
                            succDesc = "报名申请提交成功";
                        }
                        rongDialog.init({ico : 1, type : 1, desc : succDesc});
                        $("#act_baoming_step1").hide();
                        $("#act_baoming_step2").hide();
                        $("#act_baoming_step3").show();
                    }else {
                        rongDialog.init({ico : 2, type : 1, desc : data.msg});
                        flag = true;
                    }
                },
                params: params
            });
        }
    }
    //生日自动生成
    function birthdayInit(idCard){
        var birthday = idCard;
        birthday = birthday.substring(6,14);
        birthday = birthday.substring(0,4)+"-"+birthday.substring(4,6)+"-"+birthday.substring(6);
        return birthday;
    }
    //生日生成年龄
    /*根据出生日期算出年龄*/
    function jsGetAge(strBirthday){
        var returnAge;
        var strBirthdayArr=strBirthday.split("-");
        var birthYear = strBirthdayArr[0];
        var birthMonth = strBirthdayArr[1];
        var birthDay = strBirthdayArr[2];

        d = new Date();
        var nowYear = d.getFullYear();
        var nowMonth = d.getMonth() + 1;
        var nowDay = d.getDate();

        if(nowYear == birthYear){
            returnAge = 0;//同年 则为0岁
        }
        else{
            var ageDiff = nowYear - birthYear ; //年之差
            if(ageDiff > 0){
                if(nowMonth == birthMonth) {
                    var dayDiff = nowDay - birthDay;//日之差
                    if(dayDiff < 0)
                    {
                        returnAge = ageDiff - 1;
                    }
                    else
                    {
                        returnAge = ageDiff ;
                    }
                }
                else
                {
                    var monthDiff = nowMonth - birthMonth;//月之差
                    if(monthDiff < 0)
                    {
                        returnAge = ageDiff - 1;
                    }
                    else
                    {
                        returnAge = ageDiff ;
                    }
                }
            }
            else
            {
                returnAge = -1;//返回-1 表示出生日期输入错误 晚于今天
            }
        }

        return returnAge;//返回周岁年龄

    }


    //显示安全协议
    function alertXY() {
        rongDialog.init({
            type:3,
            size: 'auto,1200',
            panelDIV:'#abc',
            showButtonPanel: true,
            closeFn: function () {
                if($('input[name="readme"]').is(':checked')){
                    $('input[name="readme"]').removeAttr("checked");
                }else {
                    $('input[name="readme"]').attr("checked", "true");
                }

            }
        });
        return false;
    }

    //显示安全协议
    function alertXYother() {
        rongDialog.init({
            type:3,
            size: 'auto,1200',
            panelDIV:'#abcOther',
            showButtonPanel: true,
            closeFn: function () {
                if($('input[name="readmeOther"]').is(':checked')){
                    $('input[name="readmeOther"]').removeAttr("checked");
                }else {
                    $('input[name="readmeOther"]').attr("checked", "true");
                }

            }
        });
        return false;
    }
</script>
</body>
</html>
