<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/style/whzt/whzt.css'">
<link th:href="${basePath}+'/assets/style/whzt/whzt.css'" rel="stylesheet">
<div class="wrapper winning clearfix">
    <div class="content">
        <!--公共主头部开始-->
        <div id="header" th:include="guangdong/public/header :: copy"></div>
        <!--公共主头部结束-->
        <!--通栏-->
        <div class="banner" style="background-image: url('/assets/img/whzt_ysrc/banner.jpg')"></div>
        <!--通栏-->
        <!--导航栏-->
        <div class="nav_m" th:include="guangdong/whzt/nav">
            <!--<div class="nav_m-center w">
                <ul class="clearfix">
                    <li><a th:href="${basePath}+'/whzt/index?id='+${param.id[0]}">主页</a></li>
                    <li><a th:href="${basePath}+'/whzt/zpList?id='+${param.id[0]}">作品库</a></li>
                    <li><a th:href="${basePath}+'/whzt/rcList?id='+${param.id[0]}">艺术人才</a></li>
                    <li><a href="javascript:void(0)" class="active">获奖作品</a></li>
                    <li><a th:href="${basePath}+'/whzt/jtList?id='+${param.id[0]}">创作讲坛</a></li>
                    <li><a th:href="${basePath}+'/whzt/history?id='+${param.id[0]}">历届情况</a></li>
                </ul>
            </div>-->
        </div>
        <!--导航栏-->
        <div class="winning-content">
            <div class="winning-list" id="winning-list1">
                <ul>
                    <li class="clearfix">
                        <div class="img-list margin-right-20">
                            <div class="title">第二届广东省摄影大赛作品</div>
                            <ul class="clearfix">
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q2.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q2.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q3.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q3.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q4.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q4.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q5.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q5.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="img">
                            <img th:src="${basePath}+'/assets/img/img_demo/q1.jpg'" alt="demo" width="620" height="413">
                            <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q1.jpg'})">
                                <div class="msg">查看原图</div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img-list margin-right-20">
                            <div class="title">第二届广东省摄影大赛作品</div>
                            <ul class="clearfix">
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q2.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q2.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q3.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q3.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q4.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q4.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q5.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q5.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="img">
                            <img th:src="${basePath}+'/assets/img/img_demo/q1.jpg'" alt="demo" width="620" height="413">
                            <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q1.jpg'})">
                                <div class="msg">查看原图</div>
                            </div>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img-list margin-right-20">
                            <div class="title">第二届广东省摄影大赛作品</div>
                            <ul class="clearfix">
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q2.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q2.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q3.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q3.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q4.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q4.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q5.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q5.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="img">
                            <img th:src="${basePath}+'/assets/img/img_demo/q1.jpg'" alt="demo" width="620" height="413">
                            <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q1.jpg'})">
                                <div class="msg">查看原图</div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pages pages1"></div>
        </div>
        <div class="winning-content">
            <div class="winning-list" id="winning-list2">
                <ul>
                    <li class="clearfix">
                        <div class="img">
                            <img th:src="${basePath}+'/assets/img/img_demo/q1.jpg'" alt="demo" width="620" height="413">
                            <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q1.jpg'})">
                                <div class="msg">查看原图</div>
                            </div>
                        </div>
                        <div class="img-list margin-left-20">
                            <div class="title">第二届广东省摄影大赛作品</div>
                            <ul class="clearfix">
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q2.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q2.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q3.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q3.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q4.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q4.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q5.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q5.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img th:src="${basePath}+'/assets/img/img_demo/q1.jpg'" alt="demo" width="620" height="413">
                            <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q1.jpg'})">
                                <div class="msg">查看原图</div>
                            </div>
                        </div>
                        <div class="img-list margin-left-20">
                            <div class="title">第二届广东省摄影大赛作品</div>
                            <ul class="clearfix">
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q2.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q2.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q3.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q3.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q4.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q4.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q5.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q5.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="clearfix">
                        <div class="img">
                            <img th:src="${basePath}+'/assets/img/img_demo/q1.jpg'" alt="demo" width="620" height="413">
                            <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q1.jpg'})">
                                <div class="msg">查看原图</div>
                            </div>
                        </div>
                        <div class="img-list margin-left-20">
                            <div class="title">第二届广东省摄影大赛作品</div>
                            <ul class="clearfix">
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q2.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q2.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q3.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q3.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q4.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q4.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="img">
                                        <img th:src="${basePath}+'/assets/img/img_demo/q5.jpg'" alt="demo" width="240" height="160">
                                    </div>
                                    <div class="mask" onclick="rongDialog.init({ico : 1,type : 6,title : '第二届广东省摄影大赛作品',imgUrl : '/assets/img/img_demo/q5.jpg'})">
                                        <div class="msg">查看原图</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pages pages2"></div>
        </div>

        <div class="green-black" id="pagging"></div>
    </div>
</div>
<!--底部开始-->
<div class="footer-container" id="footer" th:include="guangdong/public/footer :: copy"></div>
<!--底部结束-->
<script th:src="${basePath}+'/assets/js/public/sly.js'" type="text/javascript"></script>
<script type="text/javascript" th:inline="javascript">
    /*$("#winning-list1").sly({
        itemNav: "basic",
        cycleBy: 'items',
        pagesBar:'.pages1',
        pageBuilder:function (dom) {
            return "<span></span>";
        },
        horizontal: 1,
        touchDragging: 1
    });
    $("#winning-list2").sly({
        itemNav: "basic",
        cycleBy: 'items',
        pagesBar:'.pages2',
        pageBuilder:function (dom) {
            return "<span></span>";
        },
        horizontal: 1,
        touchDragging: 1
    });*/

    $(function(){
        MassInfoTool.init();
    });

    var MassInfoTool = {
        bashPath: [[${basePath}]],
        batchid: [[${param.id[0]}]],
        brandid: [[${param.brandid[0]}]],

        brandInfoUrl: [[${apiPath.brandinfo}]],
        batchInfoUrl: [[${apiPath.batchinfo}]],

        batchListUrl: [[${apiPath.batchlist}]],

        init: function(){
            var me = this;
            me.pagging4Batch = "pagging";
            //调用导航设置
            ZtnavTool.setNavhref(me.brandid, me.batchid);

            me.loadBatchInfo();

            //me.loadBatchs();
        },

        loadBatchInfo: function(){
            var me = this;
            //取届次详细信息
            $.post(me.batchInfoUrl, {id: me.batchid}, function(data){
                if (data && data.data && data.data.brandid){
                    me.loadBrandInfo(data.data.brandid);
                }

                var _data = {};
                _data.rows = [];
                if (data && data.data){
                    _data.rows.push(data.data);
                }
                me.appendBatchList(_data);

            }, "JSON");
        },

        loadBrandInfo: function (brandid) {
            var me = this;

            //取文化专题详细信息
            $.post(me.brandInfoUrl, {id: brandid}, function(data){
                if (data && data.data) {
                    var imgPath = data.imgPath;
                    var info = data.data;
                    $(".banner").css({
                        "background-image":"url("+imgPath+ info.bgimgurl+")",
                        "background-position": "center"
                    });
                }
            }, "JSON");
        },


        /*loadBatchs: function (page, pageSize) {
            var me = this;

            me.params = me.params || {};
            me.params.page = page || me.params.page || 1;
            me.params.pageSize = pageSize || me.params.pageSize || 3;
            me.params.cultid = $.cookie('cultid') || '';
            me.params.brandid  = me.brandid;

            me.pagging4Batch = "pagging";
            $.post(me.batchListUrl, me.params, function(data){
                me.appendBatchList(data);
                dataInit.pageInit(me.pagging4Batch, me.params.page, me.params.pageSize, data.total, function(page, pageSize){me.loadBatchs(page,pageSize)});
            }, "JSON");
        },*/

        appendBatchList: function(data){
            var me = this;
            //清理届次行
            $(".winning-content").remove();
            $(".public-no-message.notbatchlist").remove();

            if (!data || !data.rows || data.rows.length==0) {
                $("#"+me.pagging4Batch).before("<div class='public-no-message notbatchlist'></div>");
                return;
            }

            //届次行的html模板
            me.batchHtmlTemp = me.batchHtmlTemp ||
                '<div class="winning-content">\
                    <div class="winning-list" >\
                        <ul></ul>\
                    </div>\
                    <div class="pages cl w  clearfix">\
                        <div class="line"></div>\
                        <div class="line change"></div>\
                        <div class="line"></div>\
                    </div>\
                </div>';

            var rows = data.rows;
            for(var i in rows){
                var row = rows[i];
                var rowBatch = $(me.batchHtmlTemp);
                $("#"+me.pagging4Batch).before(rowBatch);

                (function(){
                    var idx = i;
                    var el = rowBatch;
                    var batch = row;
                    var restool = new ResourcesUtil(el, batch, idx);
                    restool.loadResours();
                })();
            }
        }
    };

    function ResourcesUtil(el, batch, idx){
        this.el = el;
        this.batch = batch;
        this.batchIdx = idx;

        if (typeof ResourcesUtil.__initialized__ !='undefined') return;
        ResourcesUtil.__initialized__ = true;

        ResourcesUtil.prototype.bashPath = [[${basePath}]];
        ResourcesUtil.prototype.loadResUrl = [[${apiPath.massResourceList}]];
        ResourcesUtil.prototype.params = {
            page:1,
            pageSize:5,
            reftype: 54,
            extisaward: 1
        };

        ResourcesUtil.prototype.init = function(){
            this.loadResours();
        };

        ResourcesUtil.prototype.loadResours = function (page, pageSize) {
            var me = this;
            var params = $.extend({}, me.params, {
                page: page || 1,
                pageSize: pageSize || 5
            });
            params.refid = me.batch.id;

            //ppend PageTemp
            me.el.find("ul").empty();
            var pageTemp = $(me.templates.resLiTemp);
            pageTemp.find(".img-list .title").text(me.batch.title);
            me.el.find("ul").append(pageTemp);

            $.post(me.loadResUrl, params, function(data){
                var rowsUl = pageTemp.find("ul");
                rowsUl.empty();
                if (!data || !data.rows || data.rows.length==0) {
                    rowsUl.append("<div class='public-no-message notbatchlist'></div>");
                    return;
                }
                var rows = data.rows;

                var ogg = me.batchIdx%2;
                var i = 0;
                var maxrow = rows.length>=5? rows[rows.length-1]: false;
                if (ogg > 0){
                    var i = 1;
                    maxrow = rows[0];
                }

                /*var rowsUl = pageTemp.find("ul");
                rowsUl.empty();*/
                for (var ct=0; ct<4; ct++){
                    var xxx = ct+i;
                    if (xxx>=rows.length) break;
                    var row = rows[xxx];
                    row.crtdate = moment(row.crtdate).format("YYYY-MM-DD HH:mm:ss");
                    var rowsLi = $(me.templates.minItemTemp);
                    me.buildTempItem(rowsLi, row);

                    rowsUl.append(rowsLi);
                }

                if (maxrow){
                    maxrow.crtdate = moment(maxrow.crtdate).format("YYYY-MM-DD HH:mm:ss");
                    var rowsLi = $(me.templates.maxItemTemp);
                    me.buildTempItem(rowsLi, maxrow);

                    if(ogg > 0){
                        pageTemp.find(".img-list").addClass("margin-left-20");
                        pageTemp.find(".img-list").before(rowsLi);
                    }else{
                        pageTemp.find(".img-list").addClass("margin-right-20");
                        pageTemp.find(".img-list").after(rowsLi);
                    }
                }

                var pages = me.el.find(".pages");
                me.pageIdxBut(pages, params.page, params.pageSize, data.total,
                    function(page, pageSize){
                        me.loadResours(page, pageSize)
                    });
            }, "json");
        };

        ResourcesUtil.prototype.pageIdxBut = function(jq, page, pageSize, total, fn){
            if (pageSize<1) pageSize = 1;
            var sumPage = Math.ceil(total/pageSize);
            var _jq = jq;//$(jq);
            _jq.empty();

            var i = 1;
            var pbcount = sumPage;
            if (pbcount>3){
                if (page >= sumPage){
                    pbcount = sumPage;
                    i = page-2;
                }else{
                    pbcount = page==1?page+2: page+1;
                    i = page==1? 1: page-1;
                }
            }

            for(; i<=pbcount; i++){
                var ppp = $('<div class="line"></div>');
                if (i==page){
                    ppp.addClass("change");
                }else{
                    ppp.off("click").on("click", {page: i, pageSize: pageSize}, function(e){
                        if ($.isFunction(fn)){
                            var data = e.data;
                            fn.call(null, data.page, data.pageSize);
                        }
                    });
                }
                _jq.append(ppp);
            }
        }

        ResourcesUtil.prototype.buildTempItem = function(rowsLi, row){
            var me = this;
            rowsLi.find("[name]").each(function(){
                var ent = $(this);
                var name = ent.attr("name");
                if (!name || name=='') return true;
                ent.text(row[name]||'');
            });
            var img='';
            var but = rowsLi.find(".mask");
            switch (row.enttype){
                case "1": img = row.enturl;
                    but.attr("onClick", "rongDialog.init({\
                                            ico : 1,\
                                            type : 6,\
                                            imgUrl : '"+row.enturl+"',\
                                            title : '"+ row.name +"'\
                                        });" );

                    break;
                case "2": img = (row.deourl && row.deourl!='') ? row.deourl : me.bashPath+"/assets/img/brand/brand-music.jpg";
                    but.attr("onClick", "rongDialog.init({\
                                            type : 5,\
                                            vedioUrl : '"+row.enturl+"',\
                                            vedioImg : '"+img+"',\
                                            vedioType : 'mp4',\
                                            vedioTitle : '"+row.name+"',\
                                            basePath : '"+me.bashPath+"'\
                                        })" );

                    break;
                case "3": img = me.bashPath+"/assets/img/brand/brand-music.jpg";
                    but.attr("onClick", "rongDialog.init({\
                                            type : 5,\
                                            vedioUrl : '"+row.enturl+"',\
                                            vedioImg : '"+me.bashPath+"/assets/img/brand/brand-music.jpg',\
                                            vedioTitle : '"+row.name+"',\
                                            vedioType : 'mp3',\
                                            basePath : '"+me.bashPath+"'\
                                        })" );

                    break;
                default: //img = me.bashPath+"/assets/img/public/file.png";
                    img = me.bashPath + dataInit.getFileTypeIcon(row.enturl, '/assets/img/brand/xiazai.jpg');
                    rowsLi.children().wrapAll('<a></a>');
                    //rowsLi.find(".msg").wrapAll('<a></a>');
                    rowsLi.find("a").attr({
                        target:"_blank",
                        href: row.enturl
                    });

            }
            rowsLi.find("img").attr({"src":img, alt:row.name});

            return rowsLi;
        };

        ResourcesUtil.prototype.templates = {
            //单大图模板
            maxItemTemp: '<div class="img">\
                                <img alt="" width="620" height="413">\
                                <div class="mask"  >\
                                    <div class="msg" name="name">查看原图</div>\
                                </div>\
                            </div>',
            //四小图模板
            minItemTemp: '<li>\
                            <div class="img">\
                                <img alt="" width="240" height="160">\
                            </div>\
                            <div class="mask"  >\
                                <div class="msg" name="name">查看原图</div>\
                            </div>\
                        </li>',
            //页模板架
            resLiTemp: '<li class="clearfix">\
                            <div class="img-list">\
                                <div class="title">作品</div>\
                                <ul class="clearfix"></ul>\
                            </div>\
                        </li>'
        }
    }
</script>
</body>
</html>