<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/css/public/detail.css'">
<link rel="stylesheet" th:href="${basePath}+'/assets/css/resource/resource.css'">
<div th:include="guangdong/public/leftBar :: copy"></div>
<div id="page">
    <div class="mui-content">
        <div class="wrapper-detail" id="act-detail">
            <div class="wrapper-detail-box">
                <div class="img">
                    <img id="image" class="lazy"
                         src=""/>
                    <div class="gather-title">
                        <h2></h2>
                    </div>
                </div>
            </div>
            <div class="wrapper-detail-box">
                <div class="gather-nav mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
                    <div class="mui-scroll">
                        <span class="gather-nav-list active">资讯</span>
                        <span class="gather-nav-list">作品库</span>
                        <span class="gather-nav-list">艺术人才</span>
                        <span class="gather-nav-list">获奖作品</span>
                        <span class="gather-nav-list">创作讲坛</span>
                        <span class="gather-nav-list">历届情况</span>
                    </div>
                </div>
                <div class="gather-nav-content gather-nav-content-qw on">
                    <div class="news-list">
                        <ul id="model-list"></ul>
                    </div>
                </div>
                <div class="gather-nav-content gather-nav-content-qw">
                    <div class="gather-content-list">
                        <!--<div class='newbility-no-msg2' style="height: 300px"></div>-->
                        <div id="ref-resource"></div>
                    </div>
                </div>
                <div class="gather-nav-content gather-nav-content-qw">
                    <div class="qw-person-list">
                        <ul id="qw-person-list">
                            <!--<li>
                                <div class="person-pic">
                                    <div class="img">
                                        <img src="http://p1.music.126.net/LeAnYk_eIob1SyLdcukOXw==/109951163059774882.jpg">
                                    </div>
                                </div>
                                <div class="person-info">
                                    <div class="person-name">娃娃</div>
                                    <div class="person-info-text">ruaruaruaur</div>
                                </div>
                                <a href="javascript:void(0)"></a>
                            </li>-->
                        </ul>
                    </div>
                </div>
                <div class="gather-nav-content gather-nav-content-qw">
                    <div id="ref-resource-hjzp"></div>
                </div>
                <div class="gather-nav-content gather-nav-content-qw">
                    <div id="ref-resource-czjt"></div>
                </div>
                <div class="gather-nav-content gather-nav-content-qw">
                    <div class="news-list">
                        <ul id="jieci-list"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var itemId = dataInit.getUrlParam('brandid');
    var id = dataInit.getUrlParam('id');
    var userid = $("#temp_userId").val();
    $().ready(function () {
        mui(".gather-nav").on("tap", ".gather-nav-list", function () {
            $(this).addClass("active").siblings().removeClass("active");
            $(".gather-nav-content").eq($(".gather-nav .gather-nav-list").index(this)).addClass("on").siblings().removeClass('on');
        });
        getBrandFirst();
        //获取专题届次列表
        dataInit.ajax({
            api: [[${apiPath.QWbatchlist}]],
            fn: showbatchList,
            params: {page:1,pageSize:10000,cultid:$.cookie('cultid') || '',brandid: itemId}
        });
    })
    //取专题的第一个届次
    function getBrandFirst() {
        if(!id || id == ""){
            var params = {};
            params.page = 1;
            params.pageSize = 1;
            params.cultid = $.cookie('cultid') || '';
            params.brandid = itemId;
            dataInit.ajax({
                api: [[${apiPath.QWbatchlist}]],
                fn: function (data) {
                    if (data && data.rows && data.rows.length>0){
                        var batch = data.rows[0];
                        id = batch.id;

                        //取届次详细信息
                        dataInit.ajax({
                            api:[[${apiPath.QWbatchinfo}]],
                            fn:function (data) {
                                if (data && data.data && data.data.brandid){
                                    loadBrandInfo(data.data.brandid);
                                }
                            },
                            params:{id:id}
                        })
                        //获取该届次资讯
                        dataInit.ajax({
                            api: [[${apiPath.QWbatchzxlist}]],
                            fn: showZxList,
                            params: {id: id,page:1,pageSize:10000}
                        });

                        //获取该届次人才
                        dataInit.ajax({
                            api: [[${apiPath.QWbatchrclist}]],
                            fn: showPersonList,
                            params: {batchid: id,page:1,pageSize:10000}
                        });

                        //作品库，获奖作品，创作讲坛
                        loadResources("#ref-resource");
                        loadResources("#ref-resource-hjzp", {extisaward:1});
                        loadResources("#ref-resource-czjt", {reftype:56, enttype:2});

                    } else{
                        mui.toast('专题暂时还没有届次信息');
                        setTimeout(function () {
                            window.location.href = 'whzt';
                        },2000)

                    }
                },
                params: params
            });

        }else {

            dataInit.ajax({
                api:[[${apiPath.QWbatchinfo}]],
                fn:function (data) {
                    if (data && data.data){
                        var imgPath = data.imgPath + dataInit.getBigImage(data.data.imgurl);
                        $("#image").attr("src",imgPath)
                        $(".gather-title h2").text(data.data.title);
                    }
                },
                params:{id:id}
            })

            //获取该届次资讯
            dataInit.ajax({
                api: [[${apiPath.QWbatchzxlist}]],
                fn: showZxList,
                params: {id: id,page:1,pageSize:10000}
            });

            //获取该届次人才
            dataInit.ajax({
                api: [[${apiPath.QWbatchrclist}]],
                fn: showPersonList,
                params: {batchid: id,page:1,pageSize:10000}
            });

            //作品库，获奖作品，创作讲坛
            loadResources("#ref-resource");
            loadResources("#ref-resource-hjzp", {extisaward:1});
            loadResources("#ref-resource-czjt", {reftype:56, enttype:2});
        }
    }
    function loadBrandInfo(id) {
        dataInit.ajax({
            api:[[${apiPath.QWbrandinfo}]],
            fn:function (data) {
                if (data && data.data){
                    var imgPath = data.imgPath + dataInit.getBigImage(data.data.imgurl);
                    $("#image").attr("src",imgPath)
                    $(".gather-title h2").text(data.data.title);
                }
            },
            params:{id:id}
        })
    }
    function showZxList(data) {
        var html = '';
        if(data && data.code == 0 && data.rows.length>0){
            for(var i =0; i< data.rows.length;i++){
                var model = data.rows[i];
                var imgHtml ='';
                if(model.clnfbigpic){
                    var img = data.imgPath + dataInit.getBigImage(model.clnfbigpic);
                    imgHtml = '    <div class="img">'+
                        '        <img class="lazy" src="'+img+'">'+
                        '    </div>';
                }
                var clnfsource = '';
                if(model.clnfsource){
                    clnfsource = '<div class="source">来源：'+model.clnfsource+'</div>';
                }
                var time = moment(model.clnfopttime).format("YYYY-MM-DD");
                html+='<li>'+imgHtml+
                    '    <div class="info">'+
                    '        <h2>'+model.clnftltle+'</h2>'+
                    '        <div class="abstract">'+clnfsource+
                    '            <div class="time">'+time+'</div>'+
                    '        </div>'+
                    '    </div>'+
                    '    <a href="../news/detail?id='+model.clnfid+'"></a>'+
                    '</li>';
            }
        }else {
            html = "<div class='newbility-no-msg2'></div>";
        }
        $("#model-list").html(html);
    }
    function showPersonList(data) {
        var html = '';
        if(data && data.code == 0 && data.rows.length>0){
            for(var i =0; i< data.rows.length;i++){
                var model = data.rows[i];
                var img = data.imgPath + dataInit.getBigImage(model.imgurl);
                html+='<li>'+
                    '    <div class="person-pic">'+
                    '        <div class="img">'+
                    '            <img class="lazy" src="'+img+'">'+
                    '        </div>'+
                    '    </div>'+
                    '    <div class="person-info">'+
                    '        <div class="person-name">'+model.name+'</div>'+
                    '        <div class="person-info-text">'+model.summary+'</div>'+
                    '    </div>'+
                    '    <a href="ysrcdetail?id='+model.id+'"></a>'+
                    '</li>';
            }
        }else {
            html = "<div class='newbility-no-msg2'></div>";
        }
        $("#qw-person-list").html(html);

    }
    function showbatchList(data) {
        var html = '';
        if(data && data.code == 0 && data.rows.length>0){
            for(var i =0; i< data.rows.length;i++){
                var model = data.rows[i];
                var imgHtml ='';
                if(model.imgurl){
                    var img = data.imgPath + dataInit.getBigImage(model.imgurl);
                    imgHtml = '    <div class="img">'+
                        '        <img class="lazy" src="'+img+'">'+
                        '    </div>';
                }
                var clnfsource = '';
                if(model.clnfsource){
                    clnfsource = '<div class="source">来源：'+model.clnfsource+'</div>';
                }
                var time = moment(model.clnfopttime).format("YYYY-MM-DD");
                html+='<li>'+imgHtml+
                    '    <div class="info">'+
                    '        <h2>'+model.title+'</h2>'+
                    '        <div class="abstract">'+
                    '            <div class="source">'+time+'</div>'+
                    '        </div>'+
                    '    </div>'+
                    '    <a href="whztdetail?id='+model.id+'&brandid='+model.brandid+'"></a>'+
                    '</li>';
            }
        }else {
            html = "<div class='newbility-no-msg2'></div>";
        }
        $("#jieci-list").html(html);
    }

    //作品库加载
    function loadResources(jq_content_str, params){
        var jq_content = $(jq_content_str);
        var queryParams = $.extend({
            refid:id,
            reftype: 54,
            page:1,
            pageSize:10000
        }, params||{});

        var row_temp = '<div class="ref_item">\
        <a>\
        <img src="">\
        <p></p>\
        </a>\
        </div>';
        dataInit.ajax({
            api: [[${apiPath.qwRefResources}]],
            params: queryParams,
            fn: function(data){
                if (!data || !data.rows || !data.rows.length){
                    return;
                }
                for(var i in data.rows){
                    var row = data.rows[i];
                    var jq_item = $(row_temp);
                    jq_content.append(jq_item);

                    var imgurl;
                    switch (row.enttype){ //区分图、视、音、文档不同类型图像显示
                        case '1': imgurl = row.enturl; break;
                        case '2': imgurl = row.deourl; break;
                        case '3': imgurl = [[${basePath}]]+'/assets/img/gather/mp3.jpg'; break;
                        case '4':
                            //imgurl = [[${basePath}]]+'/assets/img/gather/music.jpg';
                            imgurl = [[${basePath}]] + dataInit.getFileTypeIcon(row.enturl, '/assets/img/gather/xiazai.jpg');
                            break;
                    }
                    jq_item.find("a").attr("href", "javascript:goPage('"+row.libid+"','"+row.resid+"','"+row.enttype+"')");
                    jq_item.find("img").attr("src", imgurl);
                    jq_item.find("p").text(row.name);
                    if (queryParams.reftype == '56' && row.crtdate){ //创作讲坛显示时间
                        var _time = moment(row.crtdate).format("YYYY-MM-DD HH:mm:ss");
                        jq_item.find("p").addClass('hasTime');
                        jq_item.find("a").append('<div class="times">时间：'+_time+'</div>')
                    }
                }
            }
        });
    }

    function goPage(lid,rid,type) {
        if(type == '1'){
            window.location.href = [[${basePath}]] + '/resource/digitalimage?libid='+lid+'&resid='+rid;
        }else if(type == '2') {
            window.location.href = [[${basePath}]] + '/resource/digitalvideo?libid='+lid+'&resid='+rid;
        }else if(type == '3') {
            window.location.href = [[${basePath}]] + '/resource/digitalaudio?libid='+lid+'&resid='+rid;
        }else if(type == '4') {
            window.location.href = [[${basePath}]] + '/resource/digitalfile?libid='+lid+'&resid='+rid;
        }
    }
</script>
</body>
</html>