<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/css/public/list.css'">
<div th:include="guangdong/public/leftBar :: copy"></div>
<div id="page">
    <div class="mui-content">
        <!--下拉刷新容器-->
        <div id="model-list-panel" class="mui-content mui-scroll-wrapper">
            <div class="mui-scroll">
                <!--数据列表-->
                <div class="public-list">
                    <ul id="model-list">
                        <!--<li>
                            <a href="detail?id=2017110127436518">
                                <div class="img">
                                    <img src="http://183.131.126.132:8092/whgstatic/img/2017/201709/20170921/e7f2cf27ba3b41b680c1f10651db8800.jpg"
                                         alt="">
                                    <div class="gather-title">
                                        <h2>亲子陶艺大作战</h2>
                                    </div>
                                </div>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    $().ready(function () {
        select.create(modelData);
        dataInit.showAre($.cookie("city"),[[${apiPath.depts}]]);
        modelData();
    })

    function modelData(page, size) {
        var page = page || 1;
        var size = size || 10;
        var params = {};
        dataInit.ajax({
            api: [[${apiPath.brandlist}]],
            params: {
                page: page,
                pageSize: size,
                city: $("#city").val(), //市
                area: $("#area").val(), //区
                deptid: $("#deptid").val(), //服务站
                province: $("#province").val(), //省
                cultid: $.cookie('cultid')
            },
            forceUpdate: false,
            fn: function (data) {
                params = {
                    page: page,
                    size: size,
                    total: data.total
                }
                dataInit.htmlAdd(page, showModelHtml(data));
                dataInit.pullUp(params, modelData);
            }
        })
    }

    function showModelHtml(data) {
        var html = "";
        var dataNow = data.data.now;
        if (data.code == 0 && data.rows.length > 0) {
            for (var i in data.rows) {
                var model = data.rows[i];
                var img = data.imgPath + dataInit.getBigImage(model.imgurl);
                html += '<li><a href="branddetail?id='+model.id+'">'+
                    '<div class="img">'+
                    '<img class="lazy" src="'+img+'">'+
                    '<div class="gather-title">'+
                    '<h2>'+model.title+'</h2>'+
                    '</div></div></a></li>';
            }
        } else {
            html = '<div class="newbility-no-msg"></div>';
        }
        return html;
    }
</script>
</body>
</html>