<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/css/public/list.css'">
<div th:include="guangdong/public/leftBar :: copy"></div>
<div id="page">
    <div class="mui-content">
        <div id="category-cont"
             class="category-cont mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
            <div class="mui-scroll">
                <a href="javascript:void(0)" class="mui-control-item" data-index="c-2">艺术类型<i></i></a>
            </div>
        </div>
        <div class="category-mask none">
            <div class="category-group none" data-index="c-2">
                <ul class="clearfix" id="artList">
                    <!--<li class="active" data-txt="艺术类型">全部</li>
                    <li item-data="5">展览</li>
                    <li item-data="6">讲座</li>
                    <li item-data="7">演出</li>
                    <li item-data="8">赛事活动</li>-->
                </ul>
            </div>
        </div>
        <!--下拉刷新容器-->
        <div id="model-list-panel" class="mui-scroll-wrapper" style="top:45px;">
            <div class="mui-scroll">
                <!--数据列表-->
                <div class="public-list">
                    <ul id="model-list">
                        <!--<li>
                            <a href="detail?id=2017110127436518">
                                <div class="img">
                                    <img src="http://183.131.126.132:8092/whgstatic/img/2017/201709/20170921/e7f2cf27ba3b41b680c1f10651db8800.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">广东省第七届群众音乐舞蹈花会决赛即将在珠海开幕</div>
                                    <p>地址：广州市天河区</p>
                                    <p>时间：2017-11-3 - 2017-11-20</p>
                                    <p>人数：0/50人</p>
                                    <div class="state">报名结束</div>
                                </div>
                                <div class="abstract">
                                    <div class="ticket">余票：50张</div>
                                    <div class="other">
                                        &lt;!&ndash;<span class="comment"><i class="iconfont icon-message"></i>15</span>&ndash;&gt;
                                        <span class="zan"><i class="iconfont icon-praise"></i>20</span>
                                        <span class="favorite"><i class="iconfont icon-like"></i>25</span>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="detail?id=2017110150729841">
                                <div class="img">
                                    <img src="http://183.131.126.132:8092/whgstatic/img/2017/201709/20170921/a768d33e5359460e910de9c08ce4425d.jpg" alt="">
                                </div>
                                <div class="info">
                                    <div class="title">粤曲发烧友台上争相献技，韵味十足 ——2017广东粤曲私伙局大赛在顺德圆满落幕</div>
                                    <p>地址：广州市天河区</p>
                                    <p>时间：2017-11-3 - 2017-11-20</p>
                                    <p>人数：0/50人</p>
                                    <div class="state">报名结束</div>
                                </div>
                                <div class="abstract">
                                    <div class="ticket">余票：50张</div>
                                    <div class="other">
                                        &lt;!&ndash;<span class="comment"><i class="iconfont icon-message"></i>15</span>&ndash;&gt;
                                        <span class="zan"><i class="iconfont icon-praise"></i>20</span>
                                        <span class="favorite"><i class="iconfont icon-like"></i>25</span>
                                    </div>
                                </div>
                            </a>
                        </li>-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript">
    var keywords = dataInit.getCache('sgkeywords');
    dataInit.resetCache('sgkeywords');
    $().ready(function () {
        dataInit.ajax({
            api: [[${apiPath.actCate}]],
            params: {
                type: 1,//艺术分类
                cultid: $.cookie('cultid')
            },
            fn: showYXClass
        });
        select.create(modelData);
        dataInit.showAre($.cookie("city"),[[${apiPath.depts}]]);
        modelData();
    })

    function modelData(page, size) {
        var page = page || 1;
        var size = size || 10;
        var artType = $('#artList').find('li.active').attr('item-data');
        dataInit.ajax({
            api: [[${apiPath.digitalList}]],
            params: {
                index: page,
                size: size,
                cultid: $.cookie('cultid'),
                arttype: artType
            },
            forceUpdate: false,
            fn: function (data) {
                var params = {
                    page: page,
                    size: size,
                    total: data.total
                };
                dataInit.htmlAdd(page, showModelHtml(data));
                dataInit.pullUp(params, modelData);
            }
        })
    }

    function showModelHtml(data) {
        var html = "";

        if (data.code == 0 && data.rows.length > 0) {
            for (var i in data.rows) {
                var model = data.rows[i];
                var img = data.imgPath + dataInit.getBigImage(model.imgurl);
                html += '<li>' +
                    '<a href="detail?id=' + model.id + '">' +
                    '<div class="img">' +
                    '<img class="lazy" src="' + img + '">' +
                    '</div>' +
                    '<div class="info">' +
                    '<div class="title">' + model.title + '</div>' +
                    '</div>' +
                    '</a>' +
                    '</li>';
            }
        } else {
            html = "<div class='newbility-no-msg'></div>";
        }
        return html;
    }

    function showYXClass(data) {
        var artList = $("#artList");
        artList.html("");
        var arts = data.rows;
        artList.append('<li class="active" item-data="" data-txt="艺术类型">全部</li>');
        for (var i in arts) {
            artList.append('<li item-data="' + arts[i].id + '">' + arts[i].name + '</li>');
        }
    }
</script>
</body>
</html>