<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong_gx/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/style/public/list.css'">
<div class="wrapper clearfix">
    <div class="content">
        <!--公共主头部开始-->
        <div id="header" th:include="guangdong_gx/public/header :: copy"></div>
        <!--公共主头部结束-->
        <!--主体开始-->
        <div class="categoryChange">
            <div class="row clearfix">
                <div class="title">培训区域：</div>
                <div class="adrList" id="areList"></div>
            </div>
            <div class="row clearfix">
                <div class="title">艺术类型：</div>
                <div class="adrList" id="condition_1"></div>
            </div>
            <div class="row clearfix">
                <div class="title">培训类型：</div>
                <div class="adrList" id="condition_2"></div>
            </div>
        </div>
        <div class="container content">
            <div class="filter">
                <div class="filter-list">
                    <div class="clearfix page-type">
                        <span class="active"><a href="javascript:void(0)" data-type="1">智能排序</a></span>
                        <span><a href="javascript:void(0)" data-type="2">即将开始</a></span>
                        <span><a href="javascript:void(0)" data-type="3">最新发布</a></span>
                    </div>
                </div>
                <div class="search">
                    <input id="searchValue" onkeydown="if(event.keyCode==13) searchList();" placeholder="输入关键词"
                           type="text">
                    <a href="javascript:searchList()"><i class="iconfont icon-search"></i></a>
                </div>
            </div>
            <div class="page-list">
                <ul class="center-list clearfix" id="modelList">

                </ul>
                <!--分页开始 -->
                <div class="green-black" id="artPagging" style="margin-bottom: 40px; margin-top:60px;"></div>
                <!--分页结束-->
            </div>
        </div>
        <!--主体结束-->
    </div>
</div>
<!--底部开始-->
<div class="footer-container" id="footer" th:include="guangdong_gx/public/footer :: copy"></div>
<!--底部结束-->
<a class="to-top"></a>
<script type="text/javascript" th:inline="javascript">
    var userId = $("#temp_userId").val();
    var pageType = 1; //排序按钮
    //筛选条件  searhVal为关键词 sort为排序方式 condition_1,2为筛选条件从上往下数
    var sort = "", condition_1 = "", condition_2 = "", searhVal = "";
    //程序初始化
    $().ready(function () {
        showAre($.cookie("city"));
        cateCreate()
        navChange();
        dataPage()
    })

    //排序切换
    function navChange() {
        $('.page-type span').on('click', function (e) {
            $(this).addClass('active').siblings().removeClass('active');
            pageType = $(this).children().attr('data-type');
            if (pageType == 1) {
                sort = '0';
            } else if (pageType == 2) {
                sort = '1';
            } else {
                sort = '2';
            }
            dataPage();
        })
    }

    //筛选条件切换
    function conditionChange(dom,index,data) {
        var that = $(dom);
        setActive(dom);
        if (data) {
            if(index == 1){
                condition_1 = data;
            }else if(index == 2){
                condition_2 = data;
            }
        } else{
            if(index == 1){
                condition_1 = "";
            }else if(index == 2){
                condition_2 = "";
            }
        }
        dataPage();
        //alert(sort+'\n'+condition_1+'\n'+condition_2+'\n'+searhVal);
    }

    //加载分类
    function cateCreate(){
        dataInit.ajax({
            api:[[${apiPath.getTypes}]],
            params:{ cultid:$.cookie('cultid'),type:1},
            fn:function(data){
                cateCondition_1(data);
            }
        })
        dataInit.ajax({
            api:[[${apiPath.getTypes}]],
            params:{type:5,cultid:$.cookie('cultid')},
            fn:function(data){
                cateCondition_2(data);
            }
        })
    }

    //生成艺术分类
    function cateCondition_1(data){
        if(data.code == 0 && data.rows.length > 0){
            var panel = $('#condition_1');
            panel.html("");
            panel.append('<span class="item active"><a href="javascript:void(0)" onclick="conditionChange(this,1)">全部</a></span>');
            for(var i in data.rows){
                var model = data.rows[i];
                panel.append('<span class="item"><a href="javascript:void(0)" onclick="conditionChange(this,1,\''+model.id+'\')">'+model.name+'</a></span>');
            }
        }
    }

    //生成培训分类
    function cateCondition_2(data){
        if(data.code == 0 && data.rows.length > 0){
            var panel = $('#condition_2');
            panel.html("");
            panel.append('<span class="item active"><a href="javascript:void(0)" onclick="conditionChange(this,2)">全部</a></span>');
            for(var i in data.rows){
                var model = data.rows[i];  // regList.append("<span class='item'><a href='javascript:void(0)' onclick=setType(this,'"+ region[i].id + "')>" + region[i].name + "</a></span>");
                panel.append('<span class="item"><a href="javascript:void(0)" onclick="conditionChange(this,2,\''+model.id+'\')">'+model.name+'</a></span>');
            }
        }
    }

    //加载数据
    function dataPage(page,rows) {
        var params_page = page || 1;
        var params_rows = rows || 12;
        var params = {
            userid:userId,
            page:params_page,
            pageSize:params_rows,
            cultid:$.cookie('cultid'),
            deptid: $("#deptid").val(), //部门id
            area: $("#area").val(), //区域
            city: $("#city").val(), //市
            province: $("#province").val(), //省
            arttype:condition_1,
            etype:condition_2,
            sort:sort,
            title:searhVal
        }
        //调用接口
        rongDialog.init({ico: 3, type: 1, desc: '', overTime: 8000});
        dataInit.ajax({
            api: [[${apiPath.pxList}]],
            params: params,
            fn: function(data){
                rongDialog.closeMaskPanel();
                showModelList(data);
                dataInit.pageInit('artPagging', params_page, params_rows, data.total, dataPage);
            }
        })
    }

    //生成HTML
    function showModelList(data) {
        var modelList = $("#modelList");
        modelList.html("");
        if (data.code == 0) {
            if (data.rows.length > 0) {
                for (var i in data.rows) {
                    var model = data.rows[i];
                    var img = data.imgPath + dataInit.getSmallImage(model.trainimg);
                    var title = model.title;
                    var adr = model.address;
                    var maxApplyNum = parseInt(model.maxnumber);
                    var lastApplyNum = maxApplyNum - model.enrolcount;
                    var startTime = moment(model.starttime).format('YYYY-MM-DD');
                    var endTime = moment(model.endtime).format('YYYY-MM-DD');
                    var time = startTime + ' 至 ' + endTime;
                    var age  = model.age;
                    if(age){
                        age = age.split(',');
                        age = age[0]+'-'+age[1]+'岁';
                    }else{
                        age = '不限';
                    }
                    var cutNum = lastApplyNum <0? model.maxnumber : model.enrolcount;
                    var lastTime = model.enrollendtime - data.data;
                    if(lastTime > 0){
                        if (lastTime < (24 * 60 * 60 * 1000)){
                            lastTime = 1;
                        }else{
                            lastTime = parseInt(lastTime/(24 * 60 * 60 * 1000));
                        }
                    }else{
                        lastTime = 0;
                    }

                    var state,vitor_html,state_cls,date_cls = '';
                    if(data.data > model.enrollendtime ){
                        state = '报名结束';
                        state_cls = 's-4';
                        date_cls = 'none';
                    }else if(lastApplyNum <= 0){
                        state = '名额已满';
                        state_cls = 's-4';
                    }else{ //未报名
                        if(model.enrollstarttime > data.data){
                            state = '即将开始';
                            state_cls = 's-3';
                        }else if(model.enrollstarttime < data.data && data.data < model.enrollendtime){
                            state = model.enrolstate ? '已报名' : '立即报名';
                            state_cls = model.enrolstate ? 's-2' : 's-1';
                            date_cls = model.enrolstate ? 'none' : '';
                            //vitor_html = model.enrolcount+' / '+model.maxnumber+'';
                        }
                    }
                    if (model.maxnumber){
                        //vitor_html = model.enrolcount+' / '+model.maxnumber+'';
                        vitor_html = cutNum+' / '+model.maxnumber;
                    }
                    var vhtml='\
                                 <li class="train-item">\
                                    <a href="detail?id='+model.id+'" target="_blank"></a>\
                                    <div class="img">\
                                        <div class="desc '+date_cls+'">\
                                            <i class="icon iconfont icon-time"></i>\
                                            <span>报名结束仅剩 '+lastTime+' 天</span>\
                                        </div>\
                                        <div class="state '+state_cls+'">'+state+'</div>\
                                        <img src="'+img+'">\
                                    </div>\
                                    <div class="info">\
                                        <h2>'+title+'</h2>\
                                        <p>地址：<span>'+adr+'</span></p>\
                                        <p>时间：<span>'+time+'</span></p>';
                    if(vitor_html){
                        vhtml+='<p>人数：<span> '+vitor_html+' 人(录取'+model.basicenrollnumber+'人)</span></p>';
                    }else{
                        vhtml+='<p>人数：不限</p>';
                    }
                    vhtml+='<p>年龄段：<span>'+age+'</span></p></div></li>';
                    modelList.append(vhtml);
                }
            } else {
                modelList.append("<div class='public-no-message'></div>");
            }
        } else {
            rongDialog.init({ico: 2, type: 1, desc: data.msg});
        }
    }


    //搜索框
    function searchList() {
        if($("#searchValue").val()){
            searhVal = $("#searchValue").val();
            dataPage();
        }else {
            searhVal = "";
            dataPage();
        }
    }

    function setActive(dom){
        $(dom).parent('span').addClass("active").siblings().removeClass("active");
    }
</script>
</body>
</html>