<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<link rel="stylesheet" th:href="${basePath}+'/assets/style/supply_sys/center.css'">
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/rong.validate.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/rong.message.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/jquery.md5.js'"></script>
<div class="wrapper clearfix">
    <div class="content">
        <!--公共主头部开始-->
        <div id="header" th:include="guangdong/public/header :: copy"></div>
        <!--公共主头部结束-->
        <!--主体开始-->
        <div class="container res-center-bg user-home">
           <!-- <div class="sys-crumbs">
                <span><a href="../index">首页</a></span>
                <i class="icon iconfont icon-enter"></i>
                <span class="active">用户中心</span>
            </div>-->
            <form method="post" id="supplyForm" enctype="multipart/form-data">
                <div class="page-list">
                    <div class="user-face">
                        <img th:src="${basePath}+'/_cultsite_/assets/img/supply/face.png'">
                    </div>
                    <p class="user-name"></p>
                    <div class="user-ct-item">
                        <a th:href="${basePath}+'/_cultsite_/center/editUserInfo'"></a>
                        <i class="icon iconfont icon-bianjishuru left-icon"></i>
                        <div class="info">
                            <h2>编辑资料</h2>
                            <p>加强账号安全，可编辑账户的登录密码、联系人、联系电话等。</p>
                        </div>
                        <i class="icon iconfont icon-enter right-icon"></i>
                    </div>
                    <div class="user-ct-item">
                        <a th:href="${basePath}+'/_cultsite_/center/myMessage'"></a>
                        <i class="icon iconfont icon-xin left-icon"></i>
                        <div class="info">
                            <h2>我的消息</h2>
                            <p>快速浏览站内其他用户给自己发送的站内消息，也可查看系统推送消息</p>
                        </div>
                        <span class="logon-on"><em></em></span>
                        <i class="icon iconfont icon-enter right-icon"></i>
                    </div>
                    <div class="user-ct-item">
                        <a th:href="${basePath}+'/_cultsite_/center/myApplyList'"></a>
                        <i class="iconfont icon-manage left-icon"></i>
                        <div class="info">
                            <h2>我的众筹</h2>
                            <p>自己申请的配送信息，可浏览当前的配送状态 </p>
                        </div>
                        <i class="icon iconfont icon-enter right-icon"></i>
                    </div>
                    <div class="user-ct-item">
                        <a th:href="${basePath}+'/_cultsite_/center/myFavorite'"></a>
                        <i class="icon iconfont icon-shoucang left-icon"></i>
                        <div class="info">
                            <h2>我的收藏</h2>
                            <p>快速找查自己已收藏的配送信息</p>
                        </div>
                        <i class="icon iconfont icon-enter right-icon"></i>
                    </div>
                    <div class="user-ct-item">
                        <a th:href="${basePath}+'/_cultsite_/center/pwdChange'"></a>
                        <i class="icon iconfont icon-shenfenzheng left-icon"></i>
                        <div class="info">
                            <h2>安全设置</h2>
                            <p>让账号更安全，参加报名更方便</p>
                        </div>
                        <i class="icon iconfont icon-enter right-icon"></i>
                    </div>
                </div>
            </form>
        </div>
        <!--主体结束-->
    </div>
</div>
<!--底部开始-->
<div class="footer-container" id="footer" th:include="guangdong/public/footer :: copy"></div>
<!--底部结束-->
<a class="to-top"></a>
<script type="text/javascript" th:inline="javascript">
  $(function(){
      var cultsite = $.cookie("cultsite");
      $(".wrapper a").each(function(){
          var ahref = $(this).attr("href");
          if (!ahref) return true;
          if (ahref.indexOf("_cultsite_")==-1) return true;
          ahref = ahref.replace("_cultsite_", cultsite);
          $(this).attr("href", ahref);
      });

      dataInit.ajax({
          api:[[${apiPath.userInfo}]],
          params:{userId:[[${session.wbgx_sessUserKey.userId}]]},
          fn:function(data){
              if (!data || !data.data) return;
              $(".user-name").text(data.data.realName || data.data.nickName);
              //处理图片
              /*if (data.data.headimgurl){

              }*/
          }
      })
  })
</script>
</body>
</html>