@import "../../fonts/iconfont.css";
@charset "UTF-8";
/* ==CONFIG:=========================================================
  $__version:       1.0.0
  $__author:        JackyZeng
  $__help:          zrongs@vip.qq.com
  $__website:       http://hn.creatoo.cn
  -------------------------------------------------------------------*/
.li-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
  font-size: 0;
}
.none {
  display: none;
}
.no-padding-0 {
  padding: 0!important;
}
.float-left {
  float: left !important;
}
.float-right {
  float: right !important;
}
ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}
.a {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  left: 0px;
  top: 0px;
  z-index: 10;
}
body,
.mui-content {
  background: #fff;
  padding-bottom: 50px;
}
.city_box .city .address > span.cityname {
  display: block;
  height: 44px;
  line-height: 42px;
  background: #f2f2f2;
  position: relative;
  color: #333333;
  font-size: 15px;
  padding: 0 10px;
}
.city_box .city .address > span.cityname i {
  color: #e6162d;
  font-size: 20px;
}
.city_box .city .address > span.cityname a {
  color: #333333;
}
.city_box .city .address > span.cityname:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #e5e5e5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .city_box .city .address > span.cityname:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .city_box .city .address > span.cityname:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.33);
  }
}
.city_box .city .address div.shengguang > span {
  display: block;
  height: 44px;
  line-height: 42px;
  background: #f0f0f0;
  position: relative;
  color: #333333;
  font-size: 15px;
  padding: 0 10px;
}
.city_box .city .address div.shengguang > span:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #e5e5e5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .city_box .city .address div.shengguang > span:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .city_box .city .address div.shengguang > span:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.33);
  }
}
.city_box .city .address div.shengguang > span.active {
  color: #e6162d;
}
.city_box .city .city_bottom_box {
  padding: 0 10px;
}
.city_box .city .city_bottom_box .city_bottom ul {
  position: relative;
}
.city_box .city .city_bottom_box .city_bottom ul div.color {
  font-size: 16px;
  color: #999999;
  margin: 10px 0;
}
.city_box .city .city_bottom_box .city_bottom ul li {
  font-size: 15px;
  color: #333333;
  display: inline-block;
  padding: 5px 15px 3px;
  margin: 0 25px 15px 0;
  background: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.city_box .city .city_bottom_box .city_bottom ul li.active {
  background: #e6162d;
  color: #fff;
}
.city_box .city .city_bottom_box .city_bottom ul:after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 1px;
  content: '';
  background-color: #e5e5e5;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .city_box .city .city_bottom_box .city_bottom ul:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-min-device-pixel-ratio: 3) {
  .city_box .city .city_bottom_box .city_bottom ul:after {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.33);
  }
}
.city_box .city .site_bottom {
  padding: 0 10px;
}
.city_box .city .site_bottom ul {
  position: relative;
  margin-top: 15px;
}
.city_box .city .site_bottom ul div.color {
  font-size: 15px;
  color: #999999;
}
.city_box .city .site_bottom ul li {
  font-size: 15px;
  color: #333333;
  display: inline-block;
  padding: 5px 15px 3px;
  margin: 0 25px 15px 0;
  background: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.city_box .city .site_bottom ul li.active {
  background: #e6162d;
  color: #fff;
}
div.mui-content div.state {
  padding: 0;
  text-align: center;
}
div.mui-content div.state > i {
  font-size: 120px;
  color: #8abf43;
}
div.mui-content div.state > p.title {
  margin: 15px 0 20px 0;
  font-size: 19px;
  font-weight: bold;
  color: #333333;
  padding: 0 30px;
  line-height: 29px;
}
div.mui-content div.state > p {
  margin: 10px 0;
  font-size: 15px;
  color: #999999;
}
div.mui-content div.state > p.msg {
  margin: 10px 0;
  font-size: 12px;
  color: #999999;
}
div.mui-content div.state > a {
  display: block;
  margin: 30px 0;
}
.yeah-msg {
  width: 100%;
  height: 300px;
  background: url(../../img/public/yeah-msg-best.gif) no-repeat 50% 50%;
  background-size: contain;
  margin: 0 auto;
}
.mui-bar {
  overflow: hidden;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: solid 1px #e5e5e5;
  z-index: 999;
}
.mui-bar a.goNext {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  background: #e6162d;
  display: block;
}
