body:not(i),
*:not(i) {
	font-size: 12px!important
}

div.news-list>ul>li div.info h2,
div.public-list ul li div.info div.title,
.wrapper-detail .wrapper-detail-box>h2,
.project .theme ul>li h2,
.project .theme .nav-theme ul h3,
.pic-list .brand .img p,
div.image-info div.title,
div.news-detail h2,
.wrapper-detail .wrapper-detail-box>div.info div.title,
.pic .pic-center .para p,
.person .person-center h2 {
	font-size: 16px!important;
}

.iconfont {
	font-size: 16px;
}