<header th:fragment="copy" xmlns:th="http://www.w3.org/1999/xhtml">
    <input type="hidden" id="temp_url" th:value="${basePath}">
    <!--<script type="text/javascript" th:inline="javascript">
        dataInit.getDict([[${apiPath.dictionaries}]]);
        dataInit.getTag([[${apiPath.tagdict}]]);
    </script>-->
    <div class="main-header clearfix">
        <div class="login-state">
            <div class="welcome-cont">欢迎访问广东数字文化联盟文化内部供需平台！</div>
            <div class="login"><!--登录前-->
                <div class="login-in">
                    <a th:href="${basePath}+'/res-gx/login'">登录</a>
                </div>
            </div>
            <div class="logon"><!--登录后-->
                <div class="exit">
                    <a th:href="${basePath}+'/res-gx/doLogout'">退出</a>
                </div>
                <div class="logon-on">
                    <a th:href="${basePath}+'/res-center/index'">个人中心</a>
                </div>
                <!--<div class="logon-on">
                    <a th:href="${basePath}+'/center/info'">消息</a>
                </div>-->
                <div class="search">
                    <a th:href="${basePath}+'/res-gx/index'"><i class="iconfont icon-search"></i></a>
                </div>
            </div>
        </div>
        <div class="header-content clearfix">
            <div class="header-nav-content clearfix">
                <div class="logo" id="logo-image">
                    <a th:href="${basePath}+'/res-gx/index'"></a>
                </div>
                <div class="select-city">
                    <div class="city-name">全省站</div>
                    <div class="select-city-list"><a href="javascript:void(0)">[切换城市]</a></div>
                </div>
                <div class="header-nav clearfix">
                    <div class="header-nav-list">
                        <ul class="clearfix">
                            <!--
                            <li data-title="index"><a th:href="${basePath}+'/index'">首页</a></li>
                            <li data-title="hd"><a th:href="${basePath}+'/hd/list'">活动</a></li>
                            -->
                            <li style="margin:0 15px" data-title="res-supply"><a th:href="${basePath}+'/res-supply/list'">首页</a></li>
                            <li style="margin:0 15px" data-title="res-cg"><a th:href="${basePath}+'/res-cg/list'">场馆</a></li>
                            <!--<li data-title="res-hd"><a th:href="${basePath}+'/res-hd/list'">活动</a></li>-->
                            <li style="margin:0 15px" data-title="res-px"><a th:href="${basePath}+'/res-px/list'">培训</a></li>
                            <li style="margin:0 15px" data-title="res-jm"><a th:href="${basePath}+'/res-jm/list'">文艺演出</a></li>
                            <li style="margin:0 15px" data-title="res-zl"><a th:href="${basePath}+'/res-zl/list'">展览展示</a></li>
                            <li style="margin:0 15px" data-title="res-rc"><a th:href="${basePath}+'/res-rc/list'">文艺专家</a></li>
                            <li style="margin:0 15px" data-title="res-ss"><a th:href="${basePath}+'/res-ss/list'">文艺辅材</a></li>

                            <!--<li data-title="px"><a th:href="${basePath}+'/px/list'">培训</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div th:if="${session.SysSessionUserKey != null}">
            <input type="hidden" id="temp_userId" th:value="${session.SysSessionUserKey.id}">
            <input type="hidden" id="temp_nickName" th:value="${session.SysSessionUserKey.contact}">
            <input type="hidden" id="temp_cultid" th:value="${session.SysSessionUserKey.cultid}">
        </div>
        <script type="text/javascript" th:inline="javascript">
            if ([[${session.SysSessionUserKey}]] != null) {
                $('.login').hide();
                $('.logon').show();
            } else {
                $('.logon').hide();
                $('.login').show();
            }
        </script>
    </div>
    <div class="city_box none">
        <div class="city">
            <div class="city_top">
                <h4>切换城市</h4>
                <span><img th:src="${basePath}+'/assets/img/public/delete.png'"></span>
            </div>
            <div class="addrs">
                <span>当前位置:<a class="color">全省站</a></span>
                <div class="shengguang"><span id="span_qsz" onclick="city('')">全省站</span><span id="span_gdsg" onclick="city('0000000000000000')">广东省文化馆</span></div>
            </div>
            <div class="city_bottom_box">
                <div class="city_bottom">
                    <ul>
                        <div class="color">c</div>
                        <li>
                            <span>潮州</span>
                        </li>
                        <li>
                            <span>潮州</span>

                        </li>
                        <li>
                            <span>潮州</span>

                        </li>
                        <li>
                            <span>潮州</span>

                        </li>
                        <li>
                            <span>潮州</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="site_bottom none">
                <ul>

                </ul>
            </div>
        </div>
    </div>
    <input id="cultid" type="hidden">
    <input type="hidden" id="area">
    <input type="hidden" id="city">
    <input type="hidden" id="deptid">
    <input type="hidden" id="province" th:value="${apiPath.province}">
    <script type="text/javascript" th:inline="javascript">
        var headerNav = {
            top: $('.header-nav-content ul li'),
            init: function () {
                var m = this;
                $(document).ready(function () {
                    m.active();
                });
                m.top.on('click', function () {
                    m.topChnage($(this));
                });
            },
            topChnage: function (e) {
                $(e).addClass("active").siblings().removeClass("active");
            },
            active: function () {
                var m = this;
                var url = document.URL;
                var act = "";
                var host = window.location.host;
                url = url.split("/");
                var line = url.length-4;
                for (var i = 0; i < url.length; i++) {
                    if (url[i] == host) {
                        act = url[i + line];
                        break;
                    }
                }
                act = act.split(/[\/#?\.]/)[0];
                $(".header-nav-content ul").find("li[data-title='" + act + "']").addClass("active");
                $(".header-nav-content ul li .son-nav").find("p[data-title='" + act + "']").addClass("active");
                var temp_son = $(".header-nav-content ul li .son-nav p[class='active']");
                if (temp_son.length > 0) {
                    temp_son.parents('li').addClass("active");
                }
            }
        }
        headerNav.init();
    </script>
    <script type="text/javascript" th:inline="javascript">
        var cultid = $.cookie('cultid');
        if(!cultid){
            cultid="";
        }
        var coocity = $.cookie('city');
        var flag = [[${qh}]];
        if(flag){
            $(".select-city-list").show();
        } else {
            $(".select-city-list").hide();
        };
        dataInit.ajax({
            api: [[${apiPath.query}]],
            fn: query, //查询现属场馆
            params: {
                id: cultid
            }
        });
        dataInit.ajax({
            api: [[${apiPath.switch}]],
            fn: showPvi, //省馆
            params: {
                level: 1
            }
        });
        dataInit.ajax({
            api: [[${apiPath.cultdetail}]],
            fn: getCultDetail, //自定义菜单栏
            params: {
                cultid: cultid
            }
        });
        $(function () {
            $(".city_bottom>ul li").click(function () {
                var text1 = $(this).text();
                $(".addrs span a").text(text1);
                $(".city_bottom").hide();
                $(".site_bottom").show();
                //   $(".city_top span").hide();
                dataInit.ajax({
                    api: [[${apiPath.switch}]],
                    fn: Cultural, //文化活动
                    params: {
                        city: text1,
                        level: '2,3'
                    }
                });
            })
            $(".city_top").click(function () {
                $(".city_box").hide();
                $(".site_bottom").hide();
            })
            $(".select-city-list").click(function () {
                $(".city_box").show();
                $(".city_bottom").show();
                dataInit.ajax({
                    api: [[${apiPath.switch}]],
                    fn: showPvi, //省馆
                    params: {
                        level: 1
                    }
                });
            })
            if (cultid == '') {
                $(".city-name").text('全省站');
                $("#span_qsz").addClass("active");
            }
        })
        function Cultural(data) {
            var img = [[${basePath}]] + '/assets/img/public/building-white.png';
            var  city= $(".addrs span a").text();
            if (data.rows.length) {
                dataInit.ajax({
                    api: [[${apiPath.switch}]],
                    fn: showCity, //市馆
                    params: {
                        city: city,
                        level: '2,3'
                    }
                });
                var html = '';
                for (var i = 0; i < data.rows.length; i++) {
                    var model = data.rows[i];
                    var line = '<li onclick=city("' + model.id + '","'+model.area+'")>' +
                        '<span><i class="icon-wxbmingxingdianpu iconfont"></i>' + model.name + '</span>' +
                        '</li>';
                    if(model.level&&model.level==3){
                        html = html + line;
                    }
                }
                $(".site_bottom ul").html(html);
            } else {
                rongDialog.init({
                    ico: 2,
                    type: 1,
                    desc: '该地区暂未开通文化馆站点'
                });
                $(".city_box").hide();
                $(".site_bottom").hide();
            }
        }

        function query(data) {
            if (data.code == 0 && data.data) {
                if (cultid == ''&&coocity=='') {
                    $(".city-name").text('全省站');
                    $("#span_qsz").addClass("active");
                }else if (cultid!=""&&cultid.indexOf(",")!=-1&&coocity!='') {
                    $(".city-name").text('全市站');
                    $("#span_sz").addClass("active");
                }else {
                    $(".city-name").text(data.data.city);
                    $(".addrs span a").text(data.data.city);
                }
            }else {
                if (cultid == ''&&coocity=='') {
                    $(".city-name").text('全省站');
                    $(".addrs span a").text('广东省');
                }else if (cultid!=""&&cultid.indexOf(",")!=-1&&coocity!='') {
                    $("#span_sz").addClass("active");
                    $(".city-name").text(coocity+'站');
                    $(".addrs span a").text(coocity);
                }
            }
        }

        function getCultDetail(data) {//自定义菜单栏
            if (data.code == 0 && data.data) {
                if (cultid != '' || cultid == '0000000000000000') {
                    if(data.data.logopicture && data.data.logopicture != undefined){
                        var logo_image_bg = "url("+data.imgPath+data.data.logopicture+")  no-repeat";
                        $("#logo-image").css(
                            "background",logo_image_bg
                        )
                    }
                }
            }
        }

        function showPvi(data) {
            var html;
            if (cultid == ''&&coocity=='') {
                html= '<span id="span_qsz" class="active" onclick=city("","")>全省站</span>';
            }else{
                html= '<span id="span_qsz" onclick=city("","")>全省站</span>';
            }
            if (data.code == 0 && data.data) {
                if (data.rows.length) {
                    for (var i = 0; i < data.rows.length; i++) {
                        var model = data.rows[i];
                        var line = '';
                        if (cultid ==model.id ) {
                            $(".city-name-union").text(model.name);
                            $(".city-name").text(model.name);
                            $(".addrs span a").text(model.province);
                            line='<span id="span_gdsg'+model.id +'" class="active" onclick=city("' + model.id + '","'+model.city+'")>' +
                                model.name+ '</span>';
                        }else{
                            line='<span id="span_gdsg'+model.id +'"  onclick=city("' + model.id + '","'+model.city+'")>' +
                                model.name+ '</span>';
                        }
                        html = html + line;
                    }
                }
            }
            $(".shengguang").html("");
            $(".shengguang").append(html);
        }
        function showCity(data) {
            var city=$(".addrs span a").text();
            var html='';
            var cityhtml='';
            var allCity='';
            if (data.code == 0 && data.data) {
                if (data.rows.length) {
                    for (var i = 0; i < data.rows.length; i++) {
                        var model = data.rows[i];
                        var line = '';
                        allCity=allCity+","+model.id;
                        if(model.level==2) {//市级
                            if (cultid == model.id) {
                                $(".city-name-union").text(model.name);
                                $(".city-name").text(model.name);
                                $(".addrs span a").text(model.city);
                                line = '<span id="span_gdsg' + model.id + '" class="active" onclick=city("' + model.id + '","' + model.city + '")>' +
                                    model.name + '</span>';
                            } else {
                                line = '<span id="span_gdsg' + model.id + '"  onclick=city("' + model.id + '","' + model.city + '")>' +
                                    model.name + '</span>';
                            }
                            html = html + line;
                        }
                    }
                }
            }
            if (cultid.indexOf(",")!=-1&&coocity==city) {
                cityhtml=  '<span id="span_sz" class="active" onclick=city("'+allCity+'","'+city+'")>全市站</span>';
            }else{
                cityhtml = '<span id="span_sz" onclick=city("'+allCity+'","'+city+'")>全市站</span>';
            }
            $(".shengguang").html("");
            $(".shengguang").append(cityhtml);
            $(".shengguang").append(html);
        }

        function city(id,city) {
            var cultid = id;
            $.cookie('cultid', cultid, {path: "/", expires: 7});
            $.cookie('city', city, {path: "/", expires: 7});
            $(".site_bottom").hide();
            $(".city_box").hide();
            window.location.href = window.location.href;
        }
        var html = '';
        var line1 = ''
        var line = '';
        for (var i = 0; i < cityData.length; i++) {
            var clas = 'none';
            var first = '<ul class="' + clas + '">';
            var last = '</ul>';
            var name = cityData[i].name;
            var html1 = '';
            for (var j = 0; j < cityData[i].cities.length; j++) {
                if(cityData[i].cities[j]){
                    var cityName = cityData[i].cities[j].name;
                    if (cityData[i].cities[j].name) {
                        clas = '';
                    }
                    line1 = '<li>' + cityName + '</li>';
                    html1 = html1 + line1;
                }
            }
            line = '<div class="color">' + name + '</div>';
            html = html + '<ul class="' + clas + '">' + line + html1 + last;
        }
        $(".city_bottom").html(html);

        function showAre(id) {
            var __cultid = $.cookie('cultid')
            var __cityName = "",cityList = [];
            var areList = $("#areList");
            var __city = $.cookie('city');

            $("#areList").html("");
            if(id=='' || id == undefined || id == 'undefined'){
                if (__city && __city != "") {
                    $("#city").val(__city);
                }
                __cityName = '广东省';
                changeProvince(__cityName, null, function(cityList){
                    areList.append("<span class='item active'><a href='javascript:void(0)' _province='广东省' _city='' _area='' onclick='setArea(this," + null + ")'>全部</a></span>")
                    for (var i in cityList) {
                        areList.append("<span class='item'><a href='javascript:void(0)' _province='广东省' _city='"+cityList[i].name+"'  onclick='setArea(this,\"" + cityList[i].name + "\")'>" + cityList[i].name + "</a></span>");
                    }
                });
            }else {
                __cityName = id;
                changeCity(__cityName, null, function(cityList){
                    if(cityList.length>0) {
                        if (__city && __city != "") {
                            //$("#city").val(__city);
                        }
                        areList.append("<span class='item active'><a href='javascript:void(0)' _province='广东省' _city='"+__cityName+"' _area='' onclick='setArea(this," + null + ")'>全部</a></span>")
                        for (var i in cityList) {
                            areList.append("<span class='item'><a href='javascript:void(0)' _province='广东省' _city='"+__cityName+"' _area='"+cityList[i].name+"'  onclick='setArea(this,\"" + cityList[i].name + "\")'>" + cityList[i].name + "</a></span>");
                        }
                    }else{//为空时 说明检索的是 区域以下的镇街，此时要用部门来替换
                        dataInit.ajax({
                            api: [[${apiPath.depts}]],
                            fn: showDept, //文化联盟
                            params: {
                                cultid: cultid
                            }
                        });
                    }
                });
            }
        }

        function showPsArea(id) {
            var __cultid = $.cookie('cultid');
            var __cityName = "",cityList = [];
            var psList = $("#psList");
            var activeClass="";
            $("#psList").html("");
                __cityName = '广东省';
                if(id&&id!=""){
                    psList.append("<span class='item'><a href='javascript:void(0)' _province='广东省' _city='' _area='' onclick='setPsArea(this," + null + ")'>全部</a></span>")
                }else{
                    psList.append("<span class='item active'><a href='javascript:void(0)' _province='广东省' _city='' _area='' onclick='setPsArea(this," + null + ")'>全部</a></span>")
                }
                changeProvince(__cityName, null, function(cityList){
                    for (var i in cityList) {
                        if(id&&id!=""&&id==cityList[i].name){
                            psList.append("<span class='item active'><a href='javascript:void(0)' _province='广东省' _city='"+cityList[i].name+"'  onclick='setPsArea(this,\"" + cityList[i].name + "\")'>" + cityList[i].name + "</a></span>");
                        }else{
                            psList.append("<span class='item'><a href='javascript:void(0)' _province='广东省' _city='"+cityList[i].name+"'  onclick='setPsArea(this,\"" + cityList[i].name + "\")'>" + cityList[i].name + "</a></span>");
                        }
                    }
                });
        }

        function setArea(dom, id) {
            var _province=$(dom).attr("_province");
            var _city=$(dom).attr("_city");
            var _area=$(dom).attr("_area");
            $("#province").val("");
            $("#city").val("");
            $("#area").val("");
            if(_province&&_province!=""){
                $("#province").val(_province);
            }
            if(_city&&_city!=""){
                $("#city").val(_city);
            }
            if(_area&&_area!=""){
                $("#area").val(_area);
            }
            dataPage();
            setActive(dom);
        }

        function showDept(data){
            var areList = $("#areList");
            $("#areList").html("");
            $("#areList").prev().text("服务站：");
            areList.append("<span class='item active'><a href='javascript:void(0)'  onclick='setDept(this," + null + ")'>全部</a></span>")
            if (data.code == 0 && data.data) {
                if (data.rows.length) {
                    for (var i = 0; i < data.rows.length; i++) {
                        var model = data.rows[i];
                        areList.append("<span class='item'><a href='javascript:void(0)'  onclick='setDept(this,\"" + model.id + "\")'>" + model.name + "</a></span>");
                    }
                }
            }
        }
        function setDept(dom,deptid) {
            $("#deptid").val("");
            if (deptid && deptid != "") {
                $("#deptid").val(deptid);
            }
            dataPage();
            setActive(dom);
        }
        function setPsArea(dom, id) {
            var _province=$(dom).attr("_province");
            var _city=$(dom).attr("_city");
            $("#psprovince").val("");
            $("#pscity").val("");
            if(_province&&_province!=""){
                $("#psprovince").val(_province);
            }
            if(_city&&_city!=""){
                $("#pscity").val(_city);
            }
            dataPage();
            setActive(dom);
        }

        function  showStarts(data){
            var count=data.data;
            $(".stars-list").text(count+"次");
           /* var start;
            if(count==0){
                start=3;
            }else if(count<5){
                start=4;
            }else{
                start=5;
            }
            $(".stars-list i").removeClass("icon-collection");
            $(".stars-list i").removeClass("icon-collection_fill");
            $(".stars-list i").each(function(index){
                if(index<start){
                    $(this).addClass("icon-collection_fill");
                }else{
                    $(this).addClass("icon-collection");
                }
            });*/
        }
    </script>
</header>

