<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="guangdong/public/resource :: copy"></head>
<body>
<!--<link th:href="${basePath}+'/assets/style/login/login.css'" rel="stylesheet">-->
<link th:href="${basePath}+'/assets/style/normalize.css'" rel="stylesheet">
<link th:href="${basePath}+'/assets/style/gdqw.css'" rel="stylesheet">
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/rong.validate.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/rong.message.js'"></script>
<script type="text/javascript" th:src="${basePath}+'/assets/js/plugs/jquery.md5.js'"></script>
<style type="text/css">
    html, body {
        height: 100%;
    }
</style>
<div class="qwMain qwMain-login">
    <div style="width: 1200px;height: 100%; margin: 0 auto;position: relative;">
        <img class="qwLogo" th:src="${basePath}+'/assets/image/logo.png'" style="width: 270px;height: auto; position: absolute;left: 0;top: 70px;">
        <div class="qwLoginBox">
            <!--<div class="tit">登录</div>-->
            <img th:src="${basePath}+'/assets/image/logoTit.png'" style="display: block; width: 130px;height: auto;margin: 27px 0 31px 0;">
            <form th:action="${basePath}+'/doLogin'" method="post" id="loginForm">
                <input type="hidden" name="history_url" th:value="${temp_url}">
                <div class="form-cont">
                    <div class="input-cont">
                        <!--<div class="left-icon"><img th:src="${basePath}+'/assets/image/login-user.png'"></div>-->
                        <!--valid error-->
                        <input type="text" class="input-row" id="username" name="username" placeholder="请输入用户名"
                               maxlength="11" required>
                    </div>
                    <div class="input-cont">
                        <!--<div class="left-icon"><img th:src="${basePath}+'/assets/image/login-psd.png'"></div>-->
                        <input type="password" class="input-row" placeholder="请输入密码" id="password" name="password"
                               maxlength="18" required>
                    </div>
                    <div class="clearfix">
                        <div class="input-cont" style="float: left;">
                            <!--<div class="left-icon"><img th:src="${basePath}+'/assets/image/login-code.png'"></div>-->
                            <!--valid error-->
                            <input type="text" class="input-row w220" id="checkCode" name="checkCode" placeholder="验证码"
                                   maxlength="4" required>
                        </div>
                        <div class="logYzm">
                            <img th:src="${basePath}+'/pictureCheckCode'" id="CreateCheckCode" onclick="myReload()"
                                 width="100" height="50">
                        </div>
                    </div>
                    <div class="go-next">
                        <button type="submit" class="login-btn goNext">登录</button>
                        <!--<a href="javascript:void(0)">登录</a>-->
                    </div>
                    <div class="other clearfix">
                        <!-- <span class="fl">
                             <a href="regist">立即注册</a>
                         </span>-->
                        <span class="fr">
                        <a href="pwd/find">忘记密码</a>
                    </span>
                    </div>
                    <!--<div class="otherLogin">-->
                    <!--第三方登录：<i class="weixin-icon-img"></i>-->
                    <!--</div>-->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- core public JavaScript -->
<script type="text/javascript" th:inline="javascript">
    $(window).resize(function () {
        positionCenter($('.login-cont'));
    })
    $().ready(function () {
        positionCenter($('.login-cont'));
        var msg = [[${loginErrMsg}]];
        if (msg) {
            msg = msg.replace(/\"/g, "");
            rongDialog.init({
                ico: 2,
                type: 1,
                desc: msg
            });
        }
        /*//手机号格式
        $.validator.addMethod("phoneType", function (value) {
            var reg = /^0?(13[0-9]|15[012356789]|17[013678]|18[0-9]|14[57])[0-9]{8}$/;
            return reg.test(value);
        }, '请输入正确的手机号码');*/
        $("#loginForm").validate({
            errorElement: "em",
            rules: {
                username: "required",
                password: "required",
                checkCode: "required"
            },
            messages: {
                username: {
                    required: "请输入您的用户名"
                },
                password: {
                    required: "请输入您的登录密码"
                },
                checkCode: {
                    required: "请输入验证码"
                }
            },
            submitHandler: function (form) {
                var pwd = $.md5($('#password').val());
                $('#password').val(pwd);
                form.submit();
            }
        });
    });

    function positionCenter(dom) {
        dom.css({
            position: 'fixed',
            left: ($(window).width() - dom.outerWidth()) / 2,
            top: ($(window).height() - dom.outerHeight()) / 2,
            zIndex: 1
        })
    }


    $(function () {
        //回车事件
        $("body").keydown(function (e) {
            click(e)
        });
    })


    function myReload() {
        document.getElementById("CreateCheckCode").src =
            document.getElementById("CreateCheckCode").src + "?nocache=" + new Date().getTime();
    }


    function click(e) {
        if (document.all) {
            if (event.button == 2 || event.button == 3) {
                console.log("谢谢您的合作！");
                oncontextmenu = 'return false';
            }
        }
        if (document.layers) {
            if (e.which == 3) {
                oncontextmenu = 'return false';
            }
        }
    }

    if (document.layers) {
        document.captureEvents(Event.MOUSEDOWN);
    }
    document.onmousedown = click;
    document.oncontextmenu = new Function("return false;")
    document.onkeydown = document.onkeyup = document.onkeypress = function () {
        if (window.event.keyCode == 123) {
            window.event.returnValue = false;
            return (false);
        }
    }
</script>
</body>
</html>