@charset "UTF-8";
@import "../../fonts/iconfont.css";
.li-flex {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
	font-size: 0
}

.none {
	display: none
}

.no-padding-0 {
	padding: 0!important
}

.float-left {
	float: left!important
}

.float-right {
	float: right!important
}

ul,
li {
	list-style: none;
	padding: 0;
	margin: 0
}

.a {
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	left: 0;
	top: 0;
	z-index: 10
}

body {
	font-size: 22px;
	line-height: 2.142857142857143rem;
	color: #757575;
}

.mui-content {
	overflow: hidden
}

* {
	box-sizing: border-box
}

.mui-content {
	/*background: url(../../img/newIndex/body_bg_2.jpg) repeat;*/
    background: #f6f6f6;
	width: 750px;
	margin: 0 auto;
}

.index_header {
    background: #fff;
    /*background-size: 90% 70%;*/
    /*padding-top: 30px;*/
    /*background-position: right;*/
}

.index_header .header-top {
    background: #333;
    padding: 20px;
    position: relative;
}

.index_header .header-top .logo_ {
	float: left;
	/*margin-left: 15px;*/
	font-size: 28px;
	width: 230px;
	height: 60px;
}

.index_header .header-top>div.search {
    padding: 0 15px;
    float: left;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #d7d7d7;
    line-height: 45px;
    position: absolute;
    left: 430px;
    right: 20px;
    top: 50%;
    margin-top: -22.5px;
}
.index_header .header-top>div.area{
	width: 180px;
    height: 60px;
	text-align: center;
	line-height: 60px;
	color: #333333;
	font-size: 28px;
	float: left;
}
.index_header .header-top>div.area a{
	color: #d1d0d0;
}
.index_header .header-top>div.search a {
	font-size: 24px;
	width: 100%;
	display: inline-block;
	color: #999999;
}
.index_header .header-top>div.search i {
	line-height:44px;
	margin-right: 12px;
	font-size: 24px;
}

.index_header .header-top .logo_ img {
	width: 100%;
	height: 61px;
}

.index_header .header-top .area i {
	/*line-height:61px;*/
	margin-left: 5px;
    font-size: 30px;
	display: inline-block;
}

.index_header .header-main {
	position: relative;
	/*background: url(../../img/newIndex/tt_bg.png) no-repeat top right;*/
	overflow: hidden;
	/*height: 645px;*/
	/*margin-bottom: -50px;*/
}

.index_header .header-main .navList {
	margin-top: 30px;
	line-height: 50px;
	position: relative;
	z-index: 10;
	/*margin-bottom: 20px;*/
    padding: 20px 0;
    background: url(../../img/newIndex/4topBg.png) no-repeat;
    background-size: cover;
}

.index_header .header-main .navList li {
	float: left;
	width: 25%;
	font-size: 28px;
	text-align: center;
	position: relative;
}

.index_header .header-main .navList li a {
	color: #505050;
}

.index_header .header-main .navList li.cur a {
	color: #8d3434;
}

.index_header .header-main .navList li.cur:before {
	content: '';
	width: 47px;
	height: 4px;
	position: absolute;
	bottom: -4px;
	background-color: #8d3434;
	left: 50%;
	margin-left: -23px;
}

.index_header .header-main .navList li img {
	width: 100%
}

.index_header .header-main .navList:last-child {
	/*padding-left: 2.857142857142857rem;
	padding-right: 2.857142857142857rem*/
	padding: 0px 25px;
}

.index_header .header-main .navList:last-child li {
	width: 33.33333%
}

.index_header .header-main .navList2{
	margin-top: 40px;
	height: 190px;
}
.index_header .header-main .navList2 li{
    width: 30%;
    height: 158px;
    float: left;
    text-align: center;
    margin: 0 2.5%;
}
.index_header .header-main .navList2 li:nth-child(2){
    margin: 0;
}
/*.index_header .header-main .navList2 li a{
	display: inline-block;
    width: 100%;
}*/
.index_header .header-main .navList2 li a img{
    width: 100%;
    display: block;
}

.index_header .header-main .swiper-container {
	width: 100%;
	height: 277px;
}

.index_header .header-main .swiper-container img {
	width: 100%;
	height: 277px;
	display: block;
}

.index_header .header-main .tt_img {
	display: block;
	position: absolute;
	top: -20px;
	right: 150px;
	width: 128px;
	height: 128px;
}

.title_item {
	/*margin-top: 4.285714285714286rem;
	margin-bottom: 31px;*/
    background: #f6f6f6;
	padding: 50px 0 45px;
	position: relative;
}

.title_item>div {
	position: relative;
	z-index: 10
}

.title_item .title {
	font-weight: 400;
	font-size: 32px;
	text-align: center;
	line-height: 4.285714285714286rem;
	position: relative;
	z-index: 10;
	color: #333;
	margin-bottom: 20px;
}

.title_item .line {
	width: 2.857142857142857rem;
	margin: 0 auto;
	height: .21428571428571427rem;
	background: #8d3434
}

.title_item .right {
	text-align: right;
	height: 1px;
	line-height: 1px;
}

.title_item .right a {
	font-size: 24px;
	color: #474747;
	position: absolute;
	top: -55px;
	right: 40px;
}

.title_item img {
	display: block;
	position: absolute;
	height: 8.285714285714286rem;
	bottom: 0;
	left: 50%;
	margin-left: 5.714285714285714rem
}

section {
	padding-top: 1.4285714285714286rem;
	padding-bottom: 1.4285714285714286rem;
	background: #fff
}

.title_ {
	color: #333;
	height: 40px !important;
	line-height: 40px !important;
	font-size: 28px!important;
	margin-top: 8px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.right_ {
	font-size: 1.7142857142857142rem!important
}

.right_ i {
	font-size: 26px!important;
}

.section1 .swiper-slide {
	width: 625px;
	padding-left: 1.0714285714285714rem;
	padding-right: 1.0714285714285714rem
}

.section1 .swiper-slide img {
	display: block;
	width: 100%;
	height:317px;
	border-radius: 2.142857142857143rem
}

.section1 .msg_ {
	padding-left: 1.4285714285714286rem;
	padding-right: 1.4285714285714286rem
}

.section1 .msg_>div:first-child {
	padding-right: 180px;
	position: relative;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.section1 .msg_>div:first-child .right_ {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 1.7142857142857142rem;
	text-align: right
}

.section1 .msg_>div:first-child .right_ span {
	margin-left: .7142857142857143rem;
	font-size: 18px;
	color: #909090;
}

.section1 div.right_ .surplus {
	font-size: 18px;
    display: inline-block;
    height: 30px;
    padding-left: 22px;
    background: url(http://culturecloud.img-cn-hangzhou.aliyuncs.com/H5/201867224849AS3u674EIQvd9VPvdx7j68U8Ke6uQR.png) no-repeat left 4px;
}
.section1 .msg_>div:first-child .right_ span.red {
	color: #8d3434;
	margin-left: 0;
}

.section1 .msg_>div:first-child .right_ i {
	font-size: 2rem
}

.px_title img {
	margin: 0;
	width: 104px;
	height: 105px;
	left: 180px;
	bottom: 40px;
}

.section2 .px_list {
	padding-left: 1.4285714285714286rem;
	padding-right: 1.4285714285714286rem
}

.section2 .px_list li {
	padding-top: 1.4285714285714286rem;
	padding-bottom: 1.4285714285714286rem;
	border-bottom: 1px solid #ebebeb;
	border-bottom-width: .14285714285714285rem;
	position: relative
}

.section2 .px_list li:first-child {
	padding-top: 0
}
.section2 .px_list li:last-child {
	border: none;
}
.section2 .px_list li>a {
	float: left;
	width: 50%
}

.section2 .px_list li>a img {
	width: 100%;
	display: block
}

.section2 .px_list li>div {
	float: left;
	width: 50%;
	padding-left: 1.4285714285714286rem
}

.section2 .px_list li>div>div {
	height: 2.142857142857143rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.section2 .px_list li>div>div:last-child {
	position: absolute;
	bottom: 1.4285714285714286rem;
	left: 50%;
	right: 0;
	margin-left: 1.4285714285714286rem
}

.section2 .px_list li>div:first-child {
	line-height: 2.857142857142857rem
}

.section2 .px_list li>div .state {
	background: #8d3434;
	color: #fff;
	padding: 0 6px;
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	border-radius: 2px;
}

.section2 .px_list li>div .state.disabled {
	background: #c5c5c5;
	color: #333
}

.section2 .px_list li>div .right_ {
	float: right;
	font-size: 18px !important;
}

.section2 .px_list li>div .right_ .red {
	color: #8d3434;
	margin-left: 0;
}

.section2 .px_list li>div .right_ span {
	margin-left: .7142857142857143rem
}
.section2 .px_list li>div div.right_ .surplus {
	font-size: 18px;
    display: inline-block;
    height: 30px;
    padding-left: 22px;
    background: url(http://culturecloud.img-cn-hangzhou.aliyuncs.com/H5/201867224849AS3u674EIQvd9VPvdx7j68U8Ke6uQR.png) no-repeat left center;
}
.section2 .more_ {
	line-height: 3.5714285714285716rem;
	text-align: center
}

.ph_title img {
    height: 110px;
    bottom: 0;
    right: 0;
}

.section3 {
	position: relative;
	z-index: 20
}

.section3 .ph_nav {
	padding-top: 1.4285714285714286rem;
	padding-bottom: 1.4285714285714286rem
}

.section3 .ph_nav li {
	float: left;
	width: 33.33%;
	color: #666;
	position: relative;
	text-align: center;
	height: 2.142857142857143rem;
	font-size: 1.7142857142857142rem;
	line-height: 2.142857142857143rem
}
.section3 .ph_nav li:before{
	content: '';
	display: block;
	width: 2px;
	height: 16px;
	background-color: #474747;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -8px; 
}
.section3 .ph_nav li:first-child:before {
	display: none;
}
.section3 .ph_nav li span {
	display: block;
	position: absolute;
	width: 48px;
	height: 4px;
	background: transparent;
	left: 0;
	right: 0;
	margin: auto;
	bottom: -20px;
}

.section3 .ph_nav li.active{
	color: #8d3434;
}
.section3 .ph_nav li.active span {
	background: #8d3434
}

.section3 .ph_list {
	padding-left: 1.0714285714285714rem;
	padding-right: 1.0714285714285714rem
}

.section3 .ph_list li {
	float: left;
    position: relative;
	width: 50%;
	padding: 1.0714285714285714rem
}

.section3 .ph_list li>div {
	overflow: hidden;
	border-radius: 2.142857142857143rem;
	background: #ddd;
	padding-bottom: .7142857142857143rem
}

.section3 .ph_list li>div img {
	display: block;
	width: 100%
}

.section3 .ph_list li>div>div {
	padding-left: 20px;
	padding-right: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.section3 .ph_list li>div>div:last-child {
	margin-top: .7142857142857143rem
}

.section3 .ph_list li>div div.right_ {
	float: right
}

.section3 .ph_list li>div div.right_ .likes{
	font-size: 18px;
}

.section3 .ph_list li>div div.right_ .surplus {
	font-size: 18px;
    display: inline-block;
    height: 30px;
    /*padding-left: 22px;*/
    /*background: url(http://culturecloud.img-cn-hangzhou.aliyuncs.com/H5/201867224849AS3u674EIQvd9VPvdx7j68U8Ke6uQR.png) no-repeat left center;*/
}
.section3 .ph_list .right_ span.red {
	color: #8d3434;
	margin-left: 0;
}
.section3 .ph_list li>div div.right_  .likes{
	font-size: 18px;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: .7142857142857143rem;
}
.section3 .ph_list li>div .state {
	background: #8d3434;
	color: #fff;
	padding: 0 6px;
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	border-radius: 2px;
}

.section3 .ph_list li>div .state.disabled {
	background: #c5c5c5;
	color: #333
}

.cg_title img {
	left: 1.4285714285714286rem;
	height: 10.714285714285714rem;
	margin: 0
}

.cg_title img:last-child {
	right: 0;
	left: auto;
	top: auto;
	width: 280px;
	height: 50px;
}

.section4 {
	padding: 0;
	background: transparent
}

.section4 .swiper-slide {
	padding-left: 1.4285714285714286rem;
	padding-right: 1.4285714285714286rem;
	width: 60%
}

.section4 .swiper-slide>div {
	overflow: hidden;
	border-radius: 15px;
	position: relative;
	padding-bottom: 4.285714285714286rem;
	background: #fff
}

.section4 .swiper-slide>div img {
	display: block;
	width: 100%
}

.section4 .swiper-slide>div .msg_ {
	padding-left: 20px;
	padding-right: 20px;
}

.section4 .swiper-slide>div .msg_>div{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.section4 .swiper-slide>div .msg_>div:last-child {
	position: absolute;
	bottom: 20px;
	right: 20px;
	left: 20px
}

.section4 .swiper-slide>div .msg_>div:last-child .right_ {
	float: right;
	font-size: 20px !important;
}
.section4 .swiper-slide>div .msg_>div:last-child .right_ .likes{
	margin-left: 20px;
}
.section4 .swiper-slide>div .state {
	background: #8d3434;
	color: #fff;
	padding: 0 6px;
	display: inline-block;
	font-size: 18px;
	line-height: 28px;
	height: 28px;
	border-radius: 2px;
}

.section4 .swiper-slide>div .state.disabled {
	background: #c5c5c5;
	color: #333
}

.fg_title img {
	left: 1.4285714285714286rem;
	height: 70px;
	bottom: -0.7142857142857143rem;
	margin: 0;
	top: auto
}

.section5 {
	background: transparent;
	padding: 0;
	padding-bottom: 4.285714285714286rem;
	position: relative;
}
.section5 .swiper-container{
	overflow: inherit;
}
.section5:before{
	content: '';
	width: 421px;
	height: 348px;
	position: absolute;
	top: -70px;
	right: 0;
	background: url('../../img/newIndex/section5Bg.png') no-repeat;
}
.section5 .swiper-slide {
	padding-left: .7142857142857143rem;
	padding-right: .7142857142857143rem;
	width: 33.3333%;

}

.section5 .swiper-slide>div {
	padding: 1.0714285714285714rem;
	overflow: hidden;
	border-radius: .35714285714285715rem;
	position: relative;
	background: #fff;
	box-shadow: 0 0 29px rgba(36, 13, 13, .2);
}

.section5 .swiper-slide>div img {
	display: block;
	width: 100%
}

.section5 .swiper-slide>div .msg_>div {
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.section5 .swiper-slide>div .msg_>div a{
	color: #757575;
}

.section5 .swiper-slide>div .msg_>div:last-child {
	margin-top: 8px;
    font-size: 24px;
}

.fixHrefBtn{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    width: 100% !important;
    height: 100% !important;
}